<div class="widget-main">
	<div class="row">
		<!-- <h3 class="header smaller lighter blue">客户报表</h3> -->
		<div class="row">
			<div class="col-xs-12">
				<select class="search_select" style="float:left;height:34px;margin-right:10px;">
					<option>自定义</option>
					<option>本周</option>
					<option>上周</option>
					<option>本月</option>
					<option>上月</option>
					<option>本季</option>
					<option>上季</option>
					<option>今年</option>
					<option>去年</option>
					<option>近7天</option>
					<option>近30天</option>
				</select>
				<div class="col-xs-4 col-sm-3" id="timeBox" style="display: block;padding-left:0;">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-calendar bigger-110"></i>
						</span>
						<input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1">
					</div>
				</div>
				<div class="col-sx-4" style=" float: left; margin-right: 15px;">
					<button type="button" id="search" class="btn btn-info btn-sm" style=" height:34px;">
                        	查询
                    </button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 leftTool">
					<div class="form-group">
						<label class="">本日查账： </label>
						<label class="">123131 </label>
					</div>
					<div class="form-group">
						<label class="">本月查账： </label>
						<label class="">123131 </label>
					</div>
					<div class="form-group">
						<label class="">本年查账： </label>
						<label class="">123131 </label>
					</div>
					<div>
						<div class="sumBtn" style="">整单总数</div>
					</div>
			</div>
			<div class="col-xs-10" style="display:inline-block;">
				<div id="main" style="height: 300px;"></div>
			</div>
			
			<div class="col-xs-12" style="display: none;">
				<div id="main1" style="height: 300px;"></div>
			</div>
			
			<div class="col-xs-12" style="margin-top: 100px;">
				<div id="main2" style="height: 500px;"></div>
			</div>
		</div>
	</div>
</div>
</div>
{% include 'admin/mark.html' %}
</div>
<script src="/resource/adimin/assets/js/src/public.js"></script>
<script>
	jQuery(function() {
		//	时间范围
		$('input[name=date-range-picker]').daterangepicker({
			'applyClass': 'btn-sm btn-success',
			'cancelClass': 'btn-sm btn-default',
			locale: {
				applyLabel: '确认',
				cancelLabel: '取消',
			}
		})

		$('#search').click(function() {
			var time = $('input[name=date-range-picker]').val();
			//获取daterangepcker的时间戳
			console.log(cs.getTime(time, true))
			//获取下拉框的值
			console.log($('#select').val())

		})

		// 使用刚指定的配置项和数据显示图表。

		var Ddata = {
			el:'main',
			title: {
				text: `2017年${7}月客户统计图(总结:${400}个)`,
				x: 'center'
			},
			lData:['客户数量'],
			name:'客户数量',
			xData:['1月', '2月', '3月', '4月', '5月','6月','7月','8月','9月','10月','11月','12月'],
			sData:[5, 20, 36, 10, 10, 20,5, 20, 36, 10, 10, 20]
		}
		cs.drowBline(Ddata);
		
		var data = {
			el: 'main1',
			title: {
				text: '某站点用户访问来源2313',
				x: 'center'
			},
			legend: {
				show: true,
				data: ['1月', '2月', '3月', '4月', '5月','6月','7月','8月','9月','10月','11月','12月']
			},
			series: {
				name: '访问来源',
				data: [{
						value: 335,
						name: '直接访问'
					},
					{
						value: 310,
						name: '邮件营销'
					},
					{
						value: 234,
						name: '联盟广告'
					},
					{
						value: 135,
						name: '视频广告'
					},
					{
						value: 1548,
						name: '搜索引擎'
					}
				]
			}
		}
//		cs.drowPieCharts(data);

		var data1 = {
			el: 'main2',
			title: {
				text: '双层图标',
				x: 'left'
			},
			legend: {
				show: true,
				data: ['记账客户', '其他客户', '记账+其他', '小规模', '一般纳税人']
			},
			series: {
				name: '访问来源',
				data: [{
						value: 335,
						name: '记账客户',
						selected: true
					},
					{
						value: 679,
						name: '其他客户'
					},
					{
						value: 1548,
						name: '记账+其他'
					}
				]
			},
			series1: {
				data: [{
						value: 335,
						name: '小规模'
					},
					{
						value: 310,
						name: '一般纳税人'
					}
				],
			}
		}
		cs.drowDPieCharts(data1);
	})
</script>