<div class="widget-main">
		<div class="row">
	<!-- <h3 class="header smaller lighter blue">其他业务报表</h3> -->
		<div class="row">
			<div class="col-xs-12">
				<select class="search_select" style="float:left;height:34px;margin-right:10px;">
					<option>自定义</option>
					<option>本周</option>
					<option>上周</option>
					<option>本月</option>
					<option>上月</option>
					<option>本季</option>
					<option>上季</option>
					<option>今年</option>
					<option>去年</option>
					<option>近7天</option>
					<option>近30天</option>
				</select>
				<div class="col-xs-4 col-sm-3" id="timeBox" style="display: block;padding-left:0;">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-calendar bigger-110"></i>
						</span>
						<input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1">
					</div>
				</div>
				<div class="col-sx-4" style=" float: left; margin-right: 15px;">
					<button type="button" id="search" class="btn btn-info btn-sm" style=" height:34px;">
                        查询
                    </button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6" style="display:inline-block;border-right:1px solid #eee;">
				<div id="main" style="height: 500px;"></div>
			</div>
			<div class="col-xs-6" style="display:inline-block;">
				<div id="main1" style="height: 500px;"></div>
			</div>
		</div>
	</div>
		{% include 'admin/mark.html' %}
</div>
<script src="/resource/adimin/assets/js/src/public.js"></script>
<script>
	jQuery(function($) {
		//时间范围
		$('input[name=date-range-picker]').daterangepicker({
			'applyClass': 'btn-sm btn-success',
			'cancelClass': 'btn-sm btn-default',
			locale: {
				applyLabel: '确认',
				cancelLabel: '取消',
			}
		})

		var myChart = echarts.init(document.getElementById('main'));
		var myChart1 = echarts.init(document.getElementById('main1'));
		//指定图表的配置项和数据
		var option = {
			title: {
				text: 'ECharts 入门示例',
				left: 55
			},
			tooltip: {},
			legend: {
				data: ['销量'],
				x : 'center'
			},
			toolbox: {
        		show : true,
        		right: 80,
        		feature : {
            		magicType : {show: true, type: ['line', 'bar']},
            		saveAsImage : {show: true}
        		}
    		},
			xAxis: {
				data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
			},
			yAxis: {},
			series: [{
				name: '销量',
				type: 'bar',
				data: [5, 20, 36, 10, 10, 20]
			}]
		};
		var option1 = {
			title: {
				text: '某站点用户访问来源',
				subtext: '纯属虚构',
				left: 55
			},
			tooltip: {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				right:75,
				data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
			},
			series: [{
				name: '访问来源',
				type: 'pie',
				radius: '55%',
				center: ['50%', '60%'],
				data: [{
						value: 335,
						name: '直接访问'
					},
					{
						value: 310,
						name: '邮件营销'
					},
					{
						value: 234,
						name: '联盟广告'
					},
					{
						value: 135,
						name: '视频广告'
					},
					{
						value: 1548,
						name: '搜索引擎'
					}
				],
				itemStyle: {
					emphasis: {
						shadowBlur: 10,
						shadowOffsetX: 0,
						shadowColor: 'rgba(0, 0, 0, 0.5)'
					}
				}
			}]
		};

		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
		myChart1.setOption(option1);
		})
</script>