<style type="text/css">
	#templateCon label{
		width: 60px;
		text-align: right;
	}
	.btn-group:first-child {
		width: 100%;
	}
	.cur {
		text-align: center;
	}
</style>
<div class=" widget-main">
	<div class="row">
		<div class="col-lg-12">
			<div class="row" style="margin-top: 20px;">
				<div class="col-sx-4" style=" float: left; margin-right: 15px;" contentAuthority="235">
					<button type="button" id="addItem" title="添加" class="btn btn-info btn-sm" style="border-color: #32CD32 !important;background: #32CD32 !important;">
                            <i class="fa fa-plus"></i>
                        </button>
				</div>
			</div>

			<div class="row">
				<div class="custom_table">
					<table id="dynamic-table" style="margin-bottom:0px;">
						<thead>
							<tr class="thColor">
								<th class="hidden-480 center">操作</th>
								<th class="center thColor">短信模板</th>
								<th class="center thColor">模板名称</th>
								<th class="center thColor">短信内容</th>
								
							</tr>
						</thead>
						<tbody id="dataList">
							<!--<tr data-id="1">
								<td class="center">
									<label class="pos-rel">
	                                    <a href="#" class="edit"> <span class="lbl btnBlue">编辑</span></a>
	                                </label>
								</td>
								<td class="center">
									2017-08-18 19:09:18
								</td>
								<td class="center">
									2017-08-18 19:09:18
								</td>
								<td class="center">
									2017-08-18 19:09:18
								</td>
							</tr>-->
						</tbody>

					</table>
					
				</div>
				<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
						<div align="left" style="padding-left: 15px; float: left; width: 10%;" id="num"></div>
						<!--<div id="pagination" style="float: left; width: 80%; height: 25px;"></div>-->
						<div id="pageBar" class="pagination"></div>
						<div align="right" style="float: right;  width: 10%;">
							<select style="width: 100px;" id="changePageNum">
								<option value="10">每页10条</option>
								<option value="20">每页20条</option>
								<option value="50">每页50条</option>
								<option value="100">每页100条</option>
								<option value="200">每页200条</option>
							</select>
						</div>
					</div>
				<div class="row" id="template1" style="display: none">
					<div>

						<div class="widget-box">

							<div class="row">
								<div>

										<div class="form-group">
											<label> 短信模板： </label>
											<input type="text" class="in_num required" addfield="template" />
											<label style="margin-left:10px;"> 模板名称： </label>
											<select id="spDemo" addfield="type" style="width:180px;">
												<option value="准备送单">准备送单</option>
												<option value="账期完成">账期完成</option>
												<option value="客户解约">客户解约</option>
												<option value="送单成功">送单成功</option>
												<option value="送单失败">送单失败</option>
												<option value="准备送单">准备送单</option>
												<option value="订单收款">订单收款</option>
												<option value="报税完成">报税完成</option>
												<option value="合同续签">合同续签</option>
												<option value="严重欠费通知">严重欠费通知</option>
												<option value="暂停服务通知">暂停服务通知</option>
												<option value="财税单页登录验证码">财税单页登录验证码</option>
											</select>
											
										</div>
										<div class="form-group">
											<label style="float:left;margin-right:5px;"> 短信内容： </label>
											<textarea class="in_num required" addfield="content" style="width:calc(100% - 65px);padding:5px;"></textarea>
										</div>
								</div>

								<div class=" padding-4 clearfix">
									<div class="btn-group pull-right save">
										<div class="cur">
										<button class="btn btn-info">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    保存
                                </button>
                                </div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="label_popup" id="feedBack" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;">
					<div style="width:400px;margin:39px auto;z-index:1060;background:#fff;position:relative;border:1px solid #ddd;
		            box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);">
						<div style="padding:15px;border-bottom:1px solid #ddd;">
							<span style="display: inline-block;">编辑备注</span>
							<a href="javascript:;" class="close_label" style="float: right;"><i class="fa fa-times" aria-hidden="true"></i></a>
						</div>
						<div style="padding: 10px 50px;">
							<input type="text" width="200px" style="margin: auto;" id="labelName" />
							<!--<hr>-->
						</div>
						<div style="padding:15px;text-align:right;">
							<button class="close_label">关闭</button>
							<button class="hold">保存</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'admin/mark.html' %}
</div>
<div class=" widget-main">
	<script src="/resource/adimin/assets/js/src/public.js"></script>
	<script>
		jQuery(function($) {
			cs.getNodes([235]);

			var order ='nm_sms_template.id desc';
			var page_size = 10;
			getbackup();
			//查找所有短信
			function getbackup() {
				ykp.list({
					url: '/api/api_sms/index',
					method: 'post',
					data: {
						limit:page_size,
						filter:'nm_sms_template.is_del <> 1',
						order:order
					},
					pageBar: {
						id: '#pageBar'
					},
					loadList: function(res) {
						if(res.data.items == "") {
							setTimeout(function(){
	                        ykp.prompt('暂无数据！');
	                    },1000);
							$('#dataList').html('<tr><td colspan="30"><div class="table-actions clearfix"></div> <div style="text-align: center" class="page">暂无数据</div></td></tr>');
							return false;
						}
						addList(res);
					}
				})

			}

			//加载内容至页面
			function addList(res) {
				var data=res.data.items;
				var content = '';
				for(var i in data) {
					
					content += `<tr data-id="${data[i]['nm_sms_template.id']}">
								<td class="center">
									<label class="pos-rel">
	                                    <a href="#" class="edit btBlue" contentAuthority="236" title="编辑"><i class="fa fa-pencil-square-o"></i></a>
	                                     <a href="#" class="del btRed" contentAuthority="237" title="删除"><i class="fa fa-trash-o"></i></a>
	                                </label>
                                </td>
								<td class="center">
									${data[i]['nm_sms_template.template']}
								</td>
								<td class="center">
									${data[i]['nm_sms_template.type']}
								</td>
								<td class="center">
									${data[i]['nm_sms_template.content']}
								</td>
							</tr>`
				}
				$('#dataList').html(content);

				cs.getNodes([236,237]);

				$('.edit').click(function() {
					var index = $(this).parents('tr').index();
					var id = $(this).parents('tr').attr('data-id');
					showMark('#template1');
					$('#showBox .title').text('编辑');

					var field = '';
					var _data = data[index];
					$('#templateBox').find('[addfield]').each(function(i){
						field = 'nm_sms_template.' + $(this).attr('addfield');
						$(this).val(_data[field]);
					})

					submit(id);
				})

				$('.del').click(function(){
					var id = $(this).parents('tr').attr('data-id');
					layui.use('layer',function() {
                	var layer = layui.layer;
                	layer.confirm('确认删除吗？', function(index){
                		ykp.doAjax({
							url: '/api/api_sms/del',
							method: 'post',
							data: {
								id: id
							},
							success: function(res) {
								ykp.prompt('删除成功');
								layer.closeAll();
								getbackup();
							}
						});
				    });
                })
					
				})
			}	

			addMsg();
			function addMsg(){
				$('#addItem').click(function() {
					showMark('#template1');
					$('#showBox .title').text('添加');
					submit();
				})
			}


			function submit(id){
				$('#templateBox .btn ').click(function() {
					var data = {},url= '/api/api_sms/add',msg='添加成功';
					var status = false;
					$('#templateBox ').find('[addfield]').each(function() {
						if($(this).val() != '') {
							data[$(this).attr('addfield')] = $(this).val();
							status = true;
						} else {
							ykp.prompt('不能为空！');
							return false;
							status = false;
						}
					})

					if(id) {
						data.id = id;
						url = '/api/api_sms/edit'
					}

					console.log(data);
					ykp.doAjax({
						url: url,
						method: 'post',
						data: data,
						success: function(res) {
							if(id) {
								msg = '编辑成功';
							}else{
								msg = '添加成功';
							}
							ykp.prompt(msg);
							getbackup();
							cs.close();
						}
					})
				})
			}
			
			$('#changePageNum').change(function() {
				page_size = $(this).val();
				getbackup();
			})

		});
	</script>