<style>
     #lotsmanage {
        background-color: #5fa6d3 !important;
        border-width: 0;
        color: #fff;
        line-height: 20px;
        display:block;
        cursor: pointer;
        border-radius: 3px;
        font-size: 14px;
        padding: 10px 20px;
         margin: 0 auto;
     }
</style>
<div class=" widget-main">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="header smaller lighter blue">批量管理</h3>
                <div class="row">
                    <div class="col-sx-4">
                        <button id="lotsmanage" type="button" class="btn btn-info btn-sm">
                            批量管理
                        </button>
                    </div>
                </div>

            </div>
        </div>

        {% include 'admin/mark.html' %}
    </div>
<script src="/resource/adimin/assets/js/src/public.js"></script>
<script>
    jQuery(function ($) {

    });

</script>
