<div class=" widget-main">
	<div class="row">
		<div class="col-lg-12">
			<div class="row" style="margin-top: 20px;">
				<div class="col-sx-4" style=" float: left; margin-right: 15px;">
					<button type="button" id="addItem" class="btn btn-info btn-sm">
                            <i class="fa fa-plus"></i>
                            添加
                        </button>
				</div>
			</div>

			<div class="row">
				<div class="custom_table">
					<table id="dynamic-table" style="margin-bottom:0px;">
						<thead>
							<tr class="thColor">
								<th class="hidden-480 center">操作</th>
								<th class="center thColor">短信签名</th>
								<th class="center thColor">短信内容</th>
								<th class="center thColor">短信关联点</th>
							</tr>
						</thead>
						<tbody id="dataList">
							<!--<tr data-id="1">
								<td class="center">
									<label class="pos-rel">
	                                    <a href="#" class="edit"> <span class="lbl btnBlue">编辑</span></a>
	                                </label>
								</td>
								<td class="center">
									2017-08-18 19:09:18
								</td>
								<td class="center">
									2017-08-18 19:09:18
								</td>
								<td class="center">
									2017-08-18 19:09:18
								</td>
							</tr>-->
						</tbody>

					</table>
					<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
						<div align="left" style="padding-left: 15px; float: left; width: 10%;" id="num"></div>
						<!--<div id="pagination" style="float: left; width: 80%; height: 25px;"></div>-->
						<div id="pageBar" class="pagination"></div>
						<div align="right" style="float: right;  width: 10%;">
							<select style="width: 100px;" id="changePageNum">
								<option value="10">每页10条</option>
								<option value="20">每页20条</option>
								<option value="50">每页50条</option>
								<option value="100">每页100条</option>
								<option value="200">每页200条</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row" id="template1" style="display: none">
					<div class="col-sm-12">
						<div class="space-12"></div>

						<div class="widget-box">							
							<div class="row">
								<div class="col-xs-12">
									<form class="form-horizontal" role="form">

										<div class="form-group">
											<label style="width: 100px;"> 短信签名： </label>
											<input type="text" class="in_num required" addfield="autograph" />
											<label style="width: 100px;"> 短信内容： </label>
											<input type="text" class="in_num required" addfield="msg" />
										</div>
										<div class="form-group">
											<label style="width: 100px;"> 审批项目： </label>
											<select id="spDemo" addfield="Relation">
												<option>收单</option>
												<option>记账</option>
												<option>客服</option>
												<option>报税</option>
												<option>送单</option>
												<option>验证码</option>
											</select>
										</div>
									</form>
								</div>

								<div class=" padding-4 clearfix">
									<div class="btn-group pull-right save">

										<button class="btn btn-info">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    保存
                                </button>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="label_popup" id="feedBack" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;">
					<div style="width:400px;margin:39px auto;z-index:1060;background:#fff;position:relative;border:1px solid #ddd;
		            box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);">
						<div style="padding:15px;border-bottom:1px solid #ddd;">
							<span style="display: inline-block;">编辑备注</span>
							<a href="javascript:;" class="close_label" style="float: right;"><i class="fa fa-times" aria-hidden="true"></i></a>
						</div>
						<div style="padding: 10px 50px;">
							<input type="text" width="200px" style="margin: auto;" id="labelName" />
							<!--<hr>-->
						</div>
						<div style="padding:15px;text-align:right;">
							<button class="close_label">关闭</button>
							<button class="hold">保存</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'admin/mark.html' %}
</div>
<div class=" widget-main">
	<script src="/resource/adimin/assets/js/src/public.js"></script>
	<script>
		jQuery(function($) {
			var order = 'sms.id desc';
			var page_size = 10;
			getbackup();
			//查找所有短信
			function getbackup() {
				var content = '';
				ykp.list({
					url: '/api/api_sms/index',
					method: 'post',
					data: {
						limit:page_size,
						filter:'sms.is_del = 0',
						order:order
					},

					pageBar: {
						id: '#pageBar'
					},
					loadList: function(res) {
						if(res.data.items == "") {
							ykp.prompt("暂无数据");
							$('#dataList').html('<tr><td colspan="30"><div class="table-actions clearfix"></div> <div style="text-align: center" class="page">暂无数据</div></td></tr>');
							return false;
						}
						addList(res);
					}
				})

			}

			//加载内容至页面
			function addList(res) {
				var data=res.data.items;
				if (data == '') {
					setTimeout(function(){
                        ykp.prompt('暂无数据！');
                    },1000);
                    $('#dataList').html('<tr><td colspan="30"><div class="table-actions clearfix"></div> <div style="text-align: center" class="page">暂无数据</div></td></tr>');
                    return;
				}
				//console.log(res);
				let content = '';
				
				for(var i in data) {
					
					content += `<tr data-id="${data[i]['sms.id']}">
								<td class="center">
									<label class="pos-rel">
	                                    <a href="#" class="edit"> <span class="lbl btnBlue">编辑</span></a>
	                                     <a href="#" class="del"> <span class="lbl btnRed">删除</span></a>
	                                </label>
                                </td>
								<td class="center">
									${data[i]['sms.autograph']}
								</td>
								<td class="center">
									${data[i]['sms.msg']}
								</td>
								<td class="center">
									${data[i]['sms.Relation']}
								</td>
							</tr>`
				}
				$('#dataList').html(content);
				$('.edit').click(function() {
					var id = $(this).parents('tr').attr('data-id');
					showMark('#template1');
					$('#showBox .title').text('编辑短信项');
					var content = [];
					$(this).parents('td').siblings().each(function(i){
						content.push($(this).text().trim());
					})
					//console.log(content);
					$('#templateBox').find('input,select').each(function(i){
						$(this).val(content[i]);
					})
					$('#templateBox .lighter').text('编辑短信项')
					submit(id)
				})

				$('.del').click(function(){
					var id = $(this).parents('tr').attr('data-id');
					ykp.doAjax({
						url: '/api/api_sms/del',
						method: 'post',
						data: {
							id: id
						},
						success: function(res) {
							ykp.prompt('删除成功');
							getbackup();
						}
					})
				})
			}	

			addMsg();
			function addMsg(){
				$('#addItem').click(function() {
					showMark('#template1');
					$('#showBox .title').text('添加短信项');
					submit();
				})
			}


			function submit(id){
				$('#templateBox .btn ').click(function() {
					let data = {},url= '/api/api_sms/add',msg='添加成功';
					var status = false;
					$('#templateBox ').find('input,select').each(function() {
						if($(this).val() != '') {
							data[$(this).attr('addfield')] = $(this).val();
							status = true;
						} else {
							ykp.prompt('不能为空！');
							return false;
							status = false;
						}
					})

					if(id) {
						data.id = id;
						url = '/api/api_sms/edit'
					}

					//console.log(data);
					ykp.doAjax({
						url: url,
						method: 'post',
						data: data,
						success: function(res) {
							if(id) {
								msg = '编辑成功';
							}else{
								msg = '添加成功';
							}
							ykp.prompt(msg);
							getbackup();
							cs.close();
						}
					})
				})
			}
			
			$('#changePageNum').change(function() {
				page_size = $(this).val();
				getbackup();
			})

		});
	</script>