<style type="text/css">
	#add_company label {
		width: 60px;
		text-align: right;
	}
	
	.powerContent {
		display: inline-block;
		border: 1px solid #ddd;
		padding: 15px;
	}
	
	.functionPower ul {
		list-style-type: none;
		margin-left: 0;
		height: 40px;
	}
	
	.functionPower li {
		float: left;
		border: 1px solid #ddd;
		display: inline-block;
		width: 80px;
		height: 40px;
		padding: 8px;
		background-color: #C5D0DC;
		color: #001;
	}
	
	.functionPower .current_function {
		background-color: #fff;
		border-bottom: none;
	}
	
	.powerContent>div {
		margin-bottom: 20px;
	}
	
	.powerRelative {
		background-color: #eee;
		border-radius: 3px;
		height: 35px;
		line-height: 35px;
		padding-left: 10px;
	}
	
	.powerContent span {
		margin-right: 30px;
	}
	
	.powerDetail {
		padding-left: 30px;
		padding-top: 5px;
		padding-bottom: 10px;
		border: 1px solid #ddd;
		line-height: 30px;
	}
	
	.tab-content {
		padding: 0;
	}
	
	.tabbable.tabs-left {
		margin-top: 15px;
	}
	
	.tabs-left>.nav-tabs>li {
		width: 150px;
	}
	
	em,
	label {
		font-style: normal;
		font-weight: normal;
	}
	
	.li_tit {
		padding-left: 20px;
		background-image: url(/resource/adimin/assets/css/images/tree_tit.gif);
		background-repeat: no-repeat;
		background-position: 6px 13px;
	}
	
	.li_bar {
		background-image: url(/resource/adimin/assets/css/images/tree_bg.gif);
		background-repeat: repeat-y;
		background-position: 5px 0px;
	}
	
	.li_bar .li_bar {
		background-position: 25px 0px;
	}
	
	.li_bar_two {
		margin-left: 0;
	}
	
	.li_tit span {
		display: block;
		clear: both;
		font-size: 12px;
		color: #F60;
	}
	
	.li_tit span label {
		color: #333;
		margin-right: 10px;
		font-size: 12px;
		display: inline-block;
		width: 150px;
		line-height: 28px;
	}
	
	.li_tit>p>em {
		position: relative;
		bottom: 0;
	}
	
	volist>label {
		position: relative;
		bottom: 0;
	}
	
	b.power_name {
		position: relative;
		bottom: 2px;
	}
	
	.layui-form-label {
		width: 60px;
		text-align: right;
		padding: 0;
	}

	#templateCon label {
		width: 114px;
		text-align: right;
	}

	#templateCon input,
	input {
		width: 180px;
	}
</style>
<div class="widget-main">
	<div class="row">
		<div id="topTool" style="margin-left:0 !important;padding-left:0 !important;margin-top:20px;position:relative">
			<div class="col-sx-4" style=" float: left; margin-right: 5px;">
				<input type="text" pts=0 sear="um_company.username" placeholder="主账号" autofocus/>
			</div>
			<div class="col-sx-4" style=" float: left; margin-right: 5px;">
				<button type="button" id="search" title="搜索" class="btn btn-info btn-sm">
					<i class="fa fa-search"></i>	
				</button>
			</div>
			<div class="col-sx-4" style=" float: left; margin-right: 5px;">
				<button id="flush" type="button" title="刷新" class="btn btn-info btn-sm" style="background-color: #32CD32	 !important;">
	            	<i class="fa fa-refresh"></i>	
	           	</button>
			</div>
			<div class="col-sx-4" contentAuthority="238" style=" float: left; margin-right: 5px;">
				<button type="button" title="添加公司" id="add" class="btn btn-info btn-sm" style="border-color: #32CD32 !important;background: #32CD32 !important;" >
					<i class="fa fa-plus"></i>
				</button>
			</div>
			<div style="clear:both;"></div>
		</div>

		<div style="padding:20px 0;">
			<div class="custom_table">
				<table>
					<thead>
						<tr class="thColor">
							<th>操作</th>
							<th>公司名称</th>
							<th>主账号</th>
							<th>数量</th>
							<th>系统版本</th>
							<th>费用</th>
							<th>有效期</th>
						</tr>
					</thead>
					<tbody class="pay_company">

					</tbody>
				</table>
			</div>
		</div>

		<div align="center" style="padding:20px 0;">
			<div align="left" style="padding-left: 15px; float: left; width: 10%;" id="num"></div>
			<!--<div id="pagination" style="float: left; width: 80%; height: 25px;"></div>-->
			<div id="pageBar" class="pagination"></div>
			<div align="right" style="float: right;  width: 10%;">
				<select style="width: 100px;" id="changePageNum">
					<option value="10">每页10条</option>
					<option value="20">每页20条</option>
					<option value="50">每页50条</option>
					<option value="100">每页100条</option>
					<option value="200">每页200条</option>
				</select>
			</div>
		</div>
	</div>

	<div id="add_company" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;">
		<div style="width:542px;margin:39px auto;z-index:1060;background:#fff;position:relative;border:1px solid #ddd;
            box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);">
			<div style="padding:15px;border-bottom:1px solid #ddd;">
				<span style="display: inline-block;font-size:16px;" class="title"></span>
				<a href="javascript:;" class="close_manage" style="float: right;"><i class="fa fa-times" aria-hidden="true"></i></a>
			</div>
			<div style="padding: 10px 10px;">
				<div style="padding: 10px;">
					<label>公司名称：</label>
					<input type="text" field="name" style="height:30px;" message="请输入公司名称" />
					<label>费用：</label>
					<input type="number" field="money" style="height:30px;" message="请输入费用" />
				</div>
				<!-- <div style="text-align:center;padding: 10px;">
					
				</div> -->
				<div style="padding: 10px;position:relative;">
					<label style="float:left;margin-right:5px;">有效期：</label>
					<input type="text" class="date-timepicker1" field="start_time" style="float:left;" message="请选择开始时间">
					<span style="border:1px solid #ddd;padding:6px;background: #ddd;">
						<i class="fa fa-exchange" style="position:relative;left:2px;"></i>
					</span>
					<input type="text" class="date-timepicker1" field="end_time" message="请选择结束时间">
					<!-- <input class="test6" type="text" field="start_time,end_time" style="height:30px;position:relative;"> -->
				</div>
			</div>
			<div style="padding:15px;text-align:right;">
				<button class="btn btn-info btn-sm close_manage">关闭</button>
				<button class="btn btn-info btn-sm hold">保存</button>
			</div>
		</div>
	</div>
	<div id="_account-manage" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;">
		<div style="width:400px;margin:39px auto;z-index:1060;background:#fff;position:relative;border:1px solid #ddd;
            box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);">
			<div style="padding:15px;border-bottom:1px solid #ddd;">
				<span style="display: inline-block;font-size:16px;">账号管理</span>
				<a href="javascript:;" class="close_manage" style="float: right;"><i class="fa fa-times" aria-hidden="true"></i></a>
			</div>
			<div style="padding: 10px 10px;max-height:400px;overflow-y:auto;">
				<div style="text-align:left;padding: 10px;">
					<label style="width:72px;text-align:right;">主账号：</label>
					<input type="text" field="username" title="密码默认为：123456" />
					<a href="javascript:;" class="reset_password" style="text-decoration:underline;font-size:12px;position:relative;top:5px;">重置密码</a>
				</div>
				<div style="text-align:left;padding: 10px;">
					<label style="width:72px;text-align:right;">默认密码：</label>
					<input type="text" value="123456" disabled/>
				</div>
				<div style="text-align:left;padding: 10px;">
					<label>子账号数量：</label>
					<input type="number" field="num" />
				</div>
				<div class="account_message">

				</div>
			</div>
			<div style="padding:15px;text-align:right;">
				<button class="btn btn-info btn-sm close_manage">关闭</button>
				<button class="btn btn-info btn-sm hold">保存</button>
			</div>
		</div>
	</div>
	<div id="power-manage" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;">
		<div style="width:800px;margin:39px auto;z-index:1060;background:#fff;position:relative;border:1px solid #ddd;
            box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);">
			<div style="padding:15px;border-bottom:1px solid #ddd;">
				<span style="display: inline-block;font-size:16px;" class="title"></span>
				<a href="javascript:;" class="close_manage" style="float: right;"><i class="fa fa-times" aria-hidden="true"></i></a>
			</div>
			<div style="padding: 10px 10px;max-height:500px;overflow-y:auto;" class="getTemplate">
				<select style="margin: 12px !important;width: 180px"  class="advandced-search">

				</select>
				<button type="button" id="add" class="btn btn-sm delTemplate">
					删除模板
				</button>
			</div>
			<div style="padding: 10px 10px;max-height:410px;overflow-y:auto;" class="power_detail">
			</div>
			<div style="padding:15px;text-align:right;">
				<button class='btn btn-info btn-sm checkAll setTemplate'>设为模板</button>
				<button class='btn btn-info btn-sm checkAll checkAll1'>全选</button>
				<!--<button class='btn btn-info btn-sm checkAll checkAll2'>反选</button>-->
				<button class="btn btn-info btn-sm hold_power">保存</button>
			</div>
		</div>
	</div>

	<div class="label_popup" id="feedBack" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;">
		<div style="width:400px;margin:39px auto;z-index:1060;background:#fff;position:relative;border:1px solid #ddd;
	        box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);">
			<div style="padding:15px;border-bottom:1px solid #ddd;">
				<span style="display: inline-block;">请填写模板名称</span>
				<a href="javascript:;" class="close_label" style="float: right;"><i class="fa fa-times" aria-hidden="true"></i></a>
			</div>
			<div style="padding: 10px 50px;">
				<input type="text" width="200px" style="margin: auto;" id="labelName" />
				<!--<hr>-->
			</div>
			<div style="padding:15px;text-align:right;">
				<button class="close_label">关闭</button>
				<button class="hold">保存</button>
			</div>
		</div>
	</div>
	<div id="dtlPage1" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;">
		<div style="width:780px;margin:39px auto;z-index:1060;background:#fff;position:relative;border:1px solid #ddd;
            box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);">
			<div style="padding:15px;border-bottom:1px solid #ddd;">
				<span style="display: inline-block;font-size:16px;">修改详情</span>
				<a href="javascript:;" class="close_manage" style="float: right;"><i class="fa fa-times" aria-hidden="true"></i></a>
			</div>
			<div class="dtlbox" style="padding: 10px 10px;max-height:400px;overflow-y:auto;">

			</div>
			<div align="center" style="padding:20px;">
				<div align="left" style="float: left;" id="contnum"></div>
				<!--<div id="pagination" style="float: left; width: 80%; height: 25px;"></div>-->
				<div  class="dlpageBar pagination"></div>
				<div align="right" style="float: right;">
					<select style="width: 100px;" class="_changePageNum">
						<option value="10">每页10条</option>
						<option value="20">每页20条</option>
						<option value="50">每页50条</option>
						<option value="100">每页100条</option>
						<option value="200">每页200条</option>
					</select>
				</div>
			</div>
			<div style="padding:15px;text-align:right;">
				<button class="btn btn-info btn-sm close_manage">关闭</button>
			</div>
		</div>
	</div>

	{% include 'admin/mark.html' %}
</div>
<script src="/resource/adimin/assets/js/src/public.js"></script>
<script type="text/javascript">
	$(function() {
		cs.getNodes([238]);
		if(ykp.getCookie('nodes').split(',').indexOf("83") == -1) {
			location.href = '/admin/error';
		}
		
		var templateNodes = '';// 存放权限模板
		//时间插件
		cs.timeplug();

		//全选
		checkAll();

		function checkAll() {
			$('.checkAll').unbind('click').click(function() {
				if($(this).hasClass('checkAll1')) {
					$('.power_detail').find('input[type="checkbox"]').prop('checked', true);
				}
				if($(this).hasClass('checkAll2')) {
					$('.power_detail').find('input[type="checkbox"]').prop('checked', false);
				}
				if($(this).hasClass('setTemplate')) {
					var nodes = [];
					$('#power-manage').find('input[data-id]:checked,input[dtid]:checked').each(function(i, e) {
						if($(this).attr('data-id')) {
							nodes.push($(this).attr('data-id'));
						}
						if($(this).attr('dtid')) {
							nodes.push($(this).attr('dtid'));
						}
					});
					//console.log(nodes.join(','));
					//					postdata['nodes'] = nodes.join(',');

					$('#feedBack').show();
					$('#feedBack').find('input').val('');
					$('#feedBack .hold').unbind('click').click(function() {
						var approve_reply = $('#feedBack').find('input').val().trim();
						if(approve_reply == '') {
							ykp.prompt('不能为空！');
							return false;
						}
						ykp.doAjax({
							url: "/api/api_role/add_role_template",
							method: "post",
							data: {
								name: approve_reply,
								nodes: nodes.join(',')
							},
							success: function(res) {
								getTemplate();
							}
						})
						$('.close_label').parents('.label_popup').fadeOut();
					})
					cs.closePop();
				}

			});
		}

		//请求参数
		var _postdata = {
			limit: 10, //每页显示的条目数
			filter: '', //查询条件
			order: 'um_company.id desc'
		};

		//切换每页显示的条目数
		switchPagesize();

		function switchPagesize() {
			$('#changePageNum').change(function() {
				_postdata.limit = $(this).val();
				getList();
			});

		}

		//普通搜索
		generalSearch();

		function generalSearch() {
			$('#search').unbind('click').click(function() {
				if($('[sear="um_company.username"]').val().trim() == '') {
					ykp.prompt('请输入搜索条件');
					return;
				}
				_postdata.filter = 'um_company.username like \'%' + $('[sear="um_company.username"]').val() + '%\'';
				getList();
			});
		}

		//刷新页面
		flushPage();

		function flushPage() {
			$('#flush').unbind('click').click(function() {
				_postdata = {
					limit: 10, //每页显示的条目数
					filter: '', //查询条件
					order: 'um_company.id desc'
				};

				getList();
			});
		}

		//获取付费公司信息
		getList();

		function getList() {
			var edit2_statu = cs.getNodes([83], true);
			if(edit2_statu) {
				ykp.list({
					url: '/api/api_company/index',
					method: 'post',
					data: _postdata,
					pageBar: {
						id: '#pageBar'
					},
					loadList: function(res) {

						if(res.data.items == '') {
							setTimeout(function() {
								ykp.prompt('暂无数据！');
							}, 1000);
							$('.pay_company').html('<tr><td colspan="30" style="color:#7d7d7d !important;text-align:center !important;">暂无数据</td></tr>');
							return;
						}
						addList(res);
					}
				});
			}
		}

		//将付费公司信息显示到table中
		function addList(res) {
			var data = res.data.items;
			var pay_company_html = [];
			for(var i in data) {
				pay_company_html.push(
					'<tr class="thColor" um_company-id="' + data[i]['um_company.id'] + '">' +
					'<td>' +
					'<label class="pos-rel">' +
                    '<a> <span style="cursor: pointer" title="详情" class="inFo lbl btOrange"><i class="fa fa-info"></i></span></a>'+
					'<a> <span style="cursor: pointer" class="account-manage lbl btGreen" contentAuthority="239" title="账号管理"><i class="fa fa-user"></i></span></a>' +
					'<a> <span style="cursor: pointer" class="power_manage lbl btYellow " contentAuthority="240" title="权限管理"><i class="fa fa-key"></i></span></a>' +
					'<a> <span style="cursor: pointer" class="renewal lbl btBlue" contentAuthority="241" title="续期管理"><i class="fa fa-spinner"></i></span></a>' +
					'<a href="#" > <span class="del lbl btRed" contentauthority="229" style="display: inline-block;" title="删除"><i class="fa fa-times-circle"></i></sapn></a>' +
					'</label>' +
					'</td>' +
					'<td>' +
					data[i]['um_company.name'] +
					'</td>' +
					'<td>' +
					data[i]['um_company.username'] +
					'</td>' +
					'<td>' +
					data[i]['um_company.num'] +
					'</td>' +
					'<td>' +
					data[i]['um_company.role_name'] +
					'</td>' +
					'<td>' +
					data[i]['um_company.money'] +
					'</td>' +
					'<td>' +
					(data[i]['um_company.start_time'] != '0' ? (cs.getNowTime(data[i]['um_company.start_time']) + '~' + cs.getNowTime(data[i]['um_company.end_time'])) : '') +
					'</td>' +
					'</tr>'
				);
			}

			$('.pay_company').html(pay_company_html.join(''));
			cs.getNodes([239, 240, 241]);

			accountManage();
            detailInf();
			renewal(data);
			powerManage_detail();

			$('.del').click(function() {
				var id = $(this).parents('tr').attr('um_company-id');
				layui.use('layer', function() {
					var layer = layui.layer;
					layer.confirm('删除后此公司信息将全部消失，确认删除吗？', function(index) {
						ykp.doAjax({
							url: "/api/api_company/del ",
							methods: "post",
							data: {
								id: id
							},
							success: function(res) {
								ykp.prompt('删除成功');
								getList();
								layer.closeAll();
							}
						})

					});
				})
			})
		}

		//添加公司
		addCompany();

		function addCompany() {
			$('#add').unbind('click').click(function() {
				$('#add_company').slideDown();
				$('#add_company .title').text('添加公司');

				$('#add_company [field]').val('');

				$('#add_company').on('click', '.close_manage', function() {
					$('#add_company').slideUp();
				});

				//保存
				$('#add_company .hold').unbind('click').click(function() {
					var postdata = {};

					var flag = true;
					$('#add_company [field]').each(function(i, e) {
						//判断是否为空
						if(!$(this).val().trim()) {
							ykp.prompt($(this).attr('message'));
							flag = false;
							return false;
						}
						if($(this).attr('field') == 'start_time' || $(this).attr('field') == 'end_time') {
							// console.log($(this).val().split('~')[0]);
							// console.log($(this).val().split('~')[1]);
							postdata[$(this).attr('field')] = new Date($(this).val()) / 1000;
							return true;
						}
						postdata[$(this).attr('field')] = $(this).val();
					});

					//如果有空值，则返回
					if(!flag) {
						return;
					}

					//如果结束时间小于开始时间，则提示并返回
					if(postdata['end_time'] < postdata['start_time']) {
						ykp.prompt('结束时间不能小于开始时间');
						return;
					}

					ykp.doAjax({
						url: '/api/api_company/add',
						method: 'post',
						data: postdata,
						success: function(res) {
							$('#add_company').slideUp();
							getList();
						}
					});
				});
			});
		}

		//获取修改详情
		function detailInf() {
            $('.inFo').click(function() {
                var dlimit=10;
                var cid= $(this).parents('tr').attr('um_company-id');
                console.log(cid);
                console.log(111);
                $('#dtlPage1').slideDown();
                console.log($('#dtlPage1 .dtlbox ._changePageNum'));
                $('#dtlPage1 ._changePageNum').unbind("change").change(function() {
                    dlimit = $(this).val();
                    dtlList();
                });

                dtlList()
                function dtlList() {
                    ykp.list({
                        url: '/api/api_company/get_record',
                        method: 'post',
                        data: {
                            cid: cid,
                            limit: dlimit,
                            page:1
                        },
						datacont:{
                            id:'#contnum'
						},
                        pageBar: {
                            id: '.dlpageBar'
                        },
                        loadList: function(res) {
                            var data = res.data.items;
                            console.log(data);
                            if(!data || data.length == 0) {
                                $('#dtlPage1 .dtlbox').html(
                                    `<div style="background-color: #c5e0f1;text-align:center;height: 40px;line-height: 40px;">
										暂无数据
									</div>`
                                );
                                return;
                            }

                            var html = [];
                            var operations = ['', '新增', '编辑', '删除'];
                            var content = [];
                            for(var i in data) {
                                content = data[i]['content'] ? JSON.parse(data[i]['content']) : "";
                                console.log(content);
                                html.push(
                                    `<ul><li>
									<td style="text-align:left;font-size:14px !important;line-height: 25px;">
									<p style="margin-bottom: 10px;">
										<span>${data[i]['create_at']}</span>
										<span>${data[i]['name']}</span>
										<span>${operations[data[i]['type']]}了</span>
										<span>${content ? getContent(data[i]['type'], content).split('-').join('&#13;') : data[i]['details']}</span>
									</p>
									</td>
								</li></ul>`
                                );
                            }
                            $('#dtlPage1 .dtlbox').html(html.join(''));
                        }
                    });
                }



                //关闭账号管理
                $('#dtlPage1').on('click', '.close_manage', function() {
                    $('#dtlPage1').slideUp();
                });

            })
        }

        function getContent(type, content) {
            var html = [];
            var sType = {
                1:"一般纳税人",
                2:"小规模"
            }
            if(type == 1) {
                for(var i in content) {
                    if(content[i]['after']){
                        html.push(content[i]['name']+' : '+content[i]['after'])
                    }

                }
                return html.join('-');
            } else if(type == 2) {
                for(var i in content) {
                    if(content[i]['after']){
                        if(content[i]['name'] == "税务类型"){

                            html.push(content[i]['name']+' : '+sType[content[i]['before']]+' 改为 '+  sType[content[i]['after']])
                        }else{
                            html.push(content[i]['name']+' : '+content[i]['before']+' 改为 '+  content[i]['after']);
                        }
                    }
                }
                return html.join('-');
            } else {
                return html.join("-");
            }
        }


        //账号管理
		function accountManage() {
			$('.account-manage').unbind('click').click(function() {
				var id = $(this).parents('tr').attr('um_company-id');
				$('#_account-manage').slideDown();
				$('#_account-manage [field]').val('').prop('disabled', false);

				//重置密码
				$('#_account-manage .reset_password').unbind('click').click(function() {
					bootbox.confirm('确认重置密码？', function(flag) {
						if(flag) {
							ykp.doAjax({
								url: '/api/api_company/edit_pwd',
								method: 'post',
								data: {
									id: id
								},
								success: function(res) {
									ykp.prompt('重置密码成功');
									$('#_account-manage').slideUp();
									getList();
								}
							});
						}
					});
				});

				//保存
				$('#_account-manage .hold').unbind('click').click(function() {
					var postdata = {
						id: id
					};

					$('#_account-manage [field]').each(function(i, e) {
						postdata[$(this).attr('field')] = $(this).val();
					});

					ykp.doAjax({
						url: '/api/api_company/add_role',
						method: 'post',
						data: postdata,
						success: function(res) {
							$('#_account-manage').slideUp();
							getList();
						}
					});
				});

				//获取子账号信息
                getChildAccount();
				function getChildAccount() {
					ykp.doAjax({
						url: '/api/api_company/get_name',
						method: 'post',
						data: {
							id: id
						},
						success: function(res) {
							var data = res.data;
							var child_account = data.list;

							if(data.top != '') {
								$('#_account-manage [field="username"]').val(data.top.username).prop('disabled', true);
							}

							var child_account_html = [];
							for(var i in child_account) {
								child_account_html.push(
									'<div style="text-align:left;padding: 10px;">' +
									'<label style="width:72px;text-align:right;">子账号：</label>' +
									'<span>' + child_account[i]['username'] + '</span>' +
									'<a href="#" childId="' + child_account[i]['id'] + '" class="btRed _del"  style="margin-left:10px;display:'+ (child_account[i]['mobilePhone'] == "" ? 'inline-block' : 'none' )+'; color:#fff !important" title="删除"><i class="fa fa-close"></i></a>'+
									'</div>'
								);
							}

							$('#_account-manage .account_message').html(child_account_html.join(''));
                            delChild();
						}
					});
                }

                function delChild() {
					$("#_account-manage .account_message ._del").unbind().click(function () {
						var childId = $(this).attr("childId");
                        console.log(id,childId);
                        ykp.doAjax({
                            url: '/api/api_company/del_user',
                            method: 'post',
                            data: {
                                id: id,
								uid:childId
                            },
                            success: function(res) {
                                ykp.prompt('删除成功！');
                                getChildAccount();
							}
                        });
                    })
                }

				//关闭账号管理
				$('#_account-manage').on('click', '.close_manage', function() {
					$('#_account-manage').slideUp();
				});
			});
		}

		//续期
		function renewal(data) {
			$('.renewal').unbind('click').click(function() {
				var index = $(this).parents('tr').index();
				var _data = data[index]; //付费公司数据
				$('#add_company').slideDown();
				$('#add_company .title').text('续期管理');

				$('#add_company [field]').val('');

				var field = '';
				$('#add_company [field]').each(function(i, e) {
					field = 'um_company.' + $(this).attr('field');
					if($(this).attr('field') == 'start_time' || $(this).attr('field') == 'end_time') {
						$(this).val(cs.getNowTime(_data[field]));
						return true;
					}

					$(this).val(_data[field]);
				});

				//保存
				$('#add_company .hold').unbind('click').click(function() {
					var postdata = {
						id: _data['um_company.id']
					};

					var flag = true;
					$('#add_company [field]').each(function(i, e) {
						//判断是否为空
						if(!$(this).val().trim()) {
							ykp.prompt($(this).attr('message'));
							flag = false;
							return false;
						}
						if($(this).attr('field') == 'start_time' || $(this).attr('field') == 'end_time') {
							// console.log($(this).val().split('~')[0]);
							// console.log($(this).val().split('~')[1]);
							postdata[$(this).attr('field')] = new Date($(this).val()) / 1000;
							return true;
						}
						postdata[$(this).attr('field')] = $(this).val();
					});

					//如果有空值，则返回
					if(!flag) {
						return;
					}

					//如果结束时间小于开始时间，则提示并返回
					if(postdata['end_time'] < postdata['start_time']) {
						ykp.prompt('结束时间不能小于开始时间');
						return;
					}

					ykp.doAjax({
						url: '/api/api_company/renewal',
						method: 'post',
						data: postdata,
						success: function(res) {
							$('#add_company').slideUp();
							getList();
						}
					});
				})

				$('#add_company').on('click', '.close_manage', function() {
					$('#add_company').slideUp();
				});
			});
		}

		//权限管理 权限详情
		function powerManage_detail() {
			$('.power_manage').unbind('click').click(function() {
				var id = $(this).parents('tr').attr('um_company-id'); //付费公司id
				$('#power-manage').slideDown();

				$('#power-manage .power_detail').html('');

				$('#power-manage .title').text('权限管理');

				power_save(id);

				getTemplate(); //获取所有模板

				//获取系统所有权限
				ykp.doAjax({
					url: '/api/api_role/get_user_nodes',
					method: 'get',
					data: {},
					success: function(res) {
						//显示所有权限数据
						addPowerList(res, id);
					}
				});

				$('#power-manage').on('click', '.close_manage', function() {
					$('#power-manage').slideUp();
				});
			});
		}

		function getTemplate() {
//			$('.advandced-search').select2({
//				allowClear: true
//			});
			$('.advandced-search').html('<option value=""> --- 请选择 --- </option>');
			//获取系统所有权限
			ykp.doAjax({
				url: '/api/api_role/get_role_template',
				method: 'get',
				data: {},
				success: function(res) {
					//显示所有权限数据
					var data = res.data;
					templateNodes = data;
					for(var i = 0; i < data.length; i++) {
						$('.advandced-search').append(new Option(data[i].name, data[i].id));
					}
				}
			});
			
			$('.advandced-search').val("").trigger('change');

			$('.advandced-search').unbind('change').change(function() {
				var val = $('.advandced-search').val();
				var index = $('.advandced-search').find('option:selected').index();
				if(val) {
					//获取系统所有权限
					ykp.doAjax({
						url: '/api/api_role/get_user_nodes',
						method: 'get',
						data: {},
						success: function(res) {
							//显示所有权限数据
							addPowerList(res);
							if(templateNodes[index-1].nodes != '') {
								var nodes = templateNodes[index-1].nodes.split(',');
		
								for(var i in nodes) {
									$('#power-manage').find('input[data-id="' + nodes[i] + '"],input[dtid="' + nodes[i] + '"]').prop('checked', true);
								}
							}
						}
					});
				}

			})
		}
		//删除模板
		$('.delTemplate').unbind('click').click(function() {
			var val = $('.advandced-search').val();
			if(!val) {
				ykp.prompt('请选择模板再删除');
				return;
			}
			layui.use("layer", function() {
				layer.confirm('确认删除模板吗？', function(index) {
					ykp.doAjax({
						url: "/api/api_role/del_role_template?id="+val,
						method: "get",
						success: function() {
							ykp.prompt('删除模板成功');
							getTemplate();
						}
					})
				});
			})

		})

		//权限管理 权限保存
		function power_save(id) {
			//保存
			$('#power-manage .hold_power').unbind('click').click(function() {
				var postdata = {
					id: id
				};

				var nodes = [];
				$('#power-manage').find('input[data-id]:checked,input[dtid]:checked').each(function(i, e) {
					if($(this).attr('data-id')) {
						nodes.push($(this).attr('data-id'));
					}
					if($(this).attr('dtid')) {
						nodes.push($(this).attr('dtid'));
					}
				});

				postdata['nodes'] = nodes.join(',');
				if($('.advandced-search').val()){
					postdata['name'] =$('.advandced-search').find('option:selected').text();
				}
				bootbox.confirm('确认修改权限？', function(flag) {
					if(flag) {
						ykp.doAjax({
							url: '/api/api_company/edit_nodes',
							method: 'post',
							data: postdata,
							success: function(res) {
								ykp.prompt('修改权限成功');
								$('#power-manage').slideUp();
								getList();
							}
						});
					}
				});
			});
		}

		//显示所有权限数据
		function addPowerList(res, id) {
			var content = "";
			var data = res.data.list;
			data.forEach(function(item) {
				if(item.id == 83) {
					delete item;
				}
			})
			var firstChild = ""; //父级权限
			var scendChild = ""; //子级权限
			for(var i in data) {
				if(data[i]['name'] == '付费管理') {
					continue;
				}
				// console.log(data[i]);
				firstChild = "";
				scendChild = "";
				if(i != 'other') {
					if(data[i]['child'] != undefined) {
						content +=
							`<div class="clientPower">
								<div class="powerRelative">
									<label data-id="${data[i]['id']}">${i == 'other' ? '其他列表' : data[i]['name']} </label>
								</div>
								<div class="powerDetail">
									<div class="li_bar li_bar_two"><volist name="nodes" id="node">`;
						for(var j in data[i]['child']) {
							firstChild +=
								`<em>
									<label class="checked">
										<input type="checkbox" class="nodes" data-id="${data[i]['child'][j]['id']}"> 
										<b class="power_name">${data[i]['child'][j]['name']}</b>
									</label>
								</em>`;
							for(var k in data[i]['child'][j]['child']) {
								scendChild +=
									` <label class="checked">
										<input type="checkbox" class="nodes" data-parent="${data[i]['child'][j]['child'][k].parent}"  dtId="${data[i]['child'][j]['child'][k].id}" >
										<b class="power_name">
											${data[i]['child'][j]['child'][k].name}
										</b>
									</label>`
							}
							content += '<div grantid="12101407980" dataid="3" class="li_tit"><p><em>' + firstChild + '</em><span><volist  id="child_node">' + scendChild + '</volist></span></p></div>';
							firstChild = "";
							scendChild = '';
						}
						content += '</volist></div></div></div>'
					} else {
						content += `<div class="clientPower">
							<div class="powerRelative">
								<label data-id="${data[i]['id']}">${i == 'other' ? '其他列表' : data[i]['name']}</label>
							</div>
							<div class="powerDetail">
								<div style="text-align: center; margin-left:-40px">暂无数据</div>
							</div>
						</div>`;
					}
				} else {
					content +=
						`<div class="clientPower" style='margin-top:20px'> 
											<div class="powerRelative">
												<label data-id="${data[i]['id']}">其他列表</label>
											</div>
											<div class="powerDetail">
												<div class="li_bar li_bar_two"><volist name="nodes" id="node">`;
					for(var j in data[i]) {
						firstChild =
							`<em>
								<label class="checked">
									<input type="checkbox" class="nodes" data-id="${data[i][j]['id']}">
								    <b class="power_name">${data[i][j]['name']}</b>
								</label>
							</em>`;
						for(var k in data[i][j]['child']) {
							scendChild +=
								` <label class="checked">
									<input type="checkbox" class="nodes" data-parent="${data[i][j]['child'][k].parent}"  data-id="${data[i][j]['child'][k].id}" >
									<b class="power_name">
										${data[i][j]['child'][k].name}
									</b>
								</label>`
						}
						content += '<div grantid="12101407980" dataid="3" class="li_tit"><p><em>' + firstChild + '</em><span><volist  id="child_node">' + scendChild + '</volist></span></p></div>';
						firstChild = "";
						scendChild = '';
					}
					content += '</volist></div></div></div>'
				}
			}

			$('.power_detail').html(content);

			//选中父级权限则选中所有子级权限，选中子级权限则选中父级权限
			checkPower();

			//获取付费公司所拥有权限
			getOwnerPower(id);

		}

		//获取付费公司所拥有权限
		function getOwnerPower(id) {
			if(!id) {
				return false;
			}
			ykp.doAjax({
				url: '/api/api_company/get_nodes',
				method: 'post',
				data: {
					id: id
				},
				success: function(res) {
					var data = res.data;

					if(data.nodes != '') {
						var nodes = data.nodes.split(',');

						for(var i in nodes) {
							$('#power-manage').find('input[data-id="' + nodes[i] + '"],input[dtid="' + nodes[i] + '"]').prop('checked', true);
						}
					}
				}
			});
		}

		//权限选择
		function checkPower() {
			$('input[type="checkbox"]').unbind('click').click(function() {
				if($(this).attr('data-parent')) {
					if($(this).is(':checked')) {
						if(!$('#node input[data-id="' + $(this).attr('data-parent') + '"]').is(':checked')) {
							$('#node input[data-id="' + $(this).attr('data-parent') + '"]').prop('checked', true);
						}
					}
				}

				if($(this).attr('data-id')) {
					if(!$(this).is(':checked')) {
						var id = $(this).attr('data-id');
						$('input[data-parent=' + id + ']').prop('checked', this.checked);
					}
				}
			});
		}

	});
</script>