<style type="text/css">
	#showBox {
		min-width: 0;
	}
	
	#templateCon .status span {
		margin-left: 10px;
		position: relative;
		top: 5px;
		color: #337ab7;
		cursor: pointer;
	}
</style>
<div class="widget-main">
	<div class="row">
		<div>
			<!--     <h3 class="header smaller lighter blue">流程管理</h3> -->
			<div class="row" style="margin-top: 20px;">
				<div class="col-sx-4" contentAuthority="228" style=" float: left; margin-right: 5px;">
					<button type="button" title="添加" id="add" class="btn btn-info btn-sm" style="background-color: #32CD32	 !important;border-color: #32CD32 !important;">
                        <i class="fa fa-plus"></i>
                    </button>
				</div>
				<div class="col-sx-4" style=" float: left; margin-right: 5px;">
                     <button id="flush" type="button" class="btn btn-info btn-sm" style="background-color: #32CD32	 !important;">
	                    <i class="fa fa-refresh"></i>
	                </button>
				</div>
			</div>
			<div class="custom_table">
				<table id="dynamic-table" style="margin-bottom:0px;">
					<thead>
						<tr class="thColor">
							<th class="hidden-480 center">操作</th>
							<th class="center thColor">流程编码</th>
							<th class="center thColor">流程名称</th>
							<th class="hidden-480 center">流程分类</th>
							<th class="hidden-480 center ">流程状态</th>
						</tr>
					</thead>

					<tbody class="dataList">
					</tbody>

				</table>
				
			</div>
			<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
					<div align="left" style="padding-left: 15px; float: left; width: 10%;" id="num"></div>
					<!--<div id="pagination" style="float: left; width: 80%; height: 25px;"></div>-->
					<div id="pageBar" class="pagination"></div>
					<div align="right" style="float: right;  width: 10%;">
						<select style="width: 100px;" id="changePageNum">
							<option value="10">每页10条</option>
							<option value="20">每页20条</option>
							<option value="50">每页50条</option>
							<option value="100">每页100条</option>
							<option value="200">每页200条</option>
						</select>
					</div>
				</div>
		</div>
	</div>

	<div class="row" id="template1" style="display:none;">
		<div style="margin-top:15px;">
			<label> 流程名称： </label>
			<input type="text" class="lc_name" />
		</div>
		<div style="margin-top:15px;">
			<label> 流程分类： </label>
			<select class="products" msg="请选择分类">
				<option value="">--- 请选择 ---  </option>
				<option value="1">记账报税 </option>
				<option value="2">工商服务 </option>
				<option value="3">知识产权 </option>
				<option value="4">财税服务 </option>
				<option value="5">网站建设 </option>
			</select>
		</div>
		<div style="margin-top:15px;position:">
			<label> 流程状态： </label>
			<div style="display:inline-block;float:right;margin-left:5px;" class="status">
				<div>
					<input type="text" msg="流程状态不能为空">
					<span>
                        <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
                    </span>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div style="text-align:center;margin-top:15px;">
			<span class="msg" style="margin-left:calc(50% - 49px);float:left;line-height:34px;display:none;color:red;"></span>

			<button class="sure_button add">
                <i class="fa fa-check" aria-hidden="true"></i>
                保存
            </button>
		</div>
	</div>
	
	<div class="row" id="template2" style="display:none;">
		<div style="margin-top:15px;">
			<label> 流程名称： </label>
			<input type="text" class="lc_name" />
		</div>
		<div style="margin-top:15px;position:">
			<label> 流程状态： </label>
			<div style="display:inline-block;float:right;margin-left:5px;" class="status">
				<div>
					<input type="text" msg="流程状态不能为空">
					<span>
                        <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
                    </span>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div style="text-align:center;margin-top:15px;">
			<span class="msg" style="margin-left:calc(50% - 49px);float:left;line-height:34px;display:none;color:red;"></span>

			<button class="sure_button add">
                <i class="fa fa-check" aria-hidden="true"></i>
                保存
            </button>
		</div>
	</div>
	{% include 'admin/mark.html' %}
</div>
<script src="/resource/adimin/assets/js/src/public.js"></script>
<script>
	jQuery(function($) {
		cs.getNodes([228]);

		var order ='ckm_process.id desc';
		var current = 1;
		var page_size = 10;
		addData();
		var lType = {
			0:"记账报税"
		};
		var sort_role = "";
		//通用排序
		cs.general_sort({
			url: '/api/api_process/index',
			method: 'post',
			data: {
				filter:"ckm_process.is_del = 0",
				limit: page_size
			},
			pageBar: {
				id: '.pageBar'
			},
			contentId:"#datalist",  //默认排序
			initOrder:"",   //初始化sort
			defaultOrder:order,
			params:[{
				id:"#dynamic-table",
				field:["","","ckm_process.name","ckm_process.type","ckm_process.status"]
			}]
		}, function(res, _sort_role) {
			sort_role = _sort_role;
			addList(res);
		});

		//获取数据
		getList(1);

		function getList(current) {
			ykp.list({
				url: '/api/api_process/index',
				method: 'post',
				data: {
					filter: 'ckm_process.is_del = 0',
					"page": current,
					"limit": page_size,
					order:order
				},
				pageBar: {
					id: '#pageBar'
				},
				loadList: function(res) {
					if(res.data.items == "") {
						setTimeout(function(){
                        ykp.prompt('暂无数据！');
                    },1000);
						$('.dataList').html('<tr><td colspan="30"><div class="table-actions clearfix"></div> <div style="color:#7d7d7d !important;text-align:center !important;" class="page">暂无数据</div></td></tr>');
						return false;
					}
					addList(res,current);
				}
			});

			$('#flush').unbind('click').click(function(){
				getList();
			})
		}
		
		function addList(res) {
				var data = res.data.items;
				var list = [];
				var types = ['记账报税', '工商服务', '知识产权', '财税服务', '网站建设'];
				getType();
				console.log(lType);
				for(var i in data) {
					list.push(
						`<tr procedure-id="${data[i]['ckm_process.id']}">
							<td>
                                <label class="pos-rel">
                                	<a href="javascript:void(0);" class="editInfo btBlue" style="" title="编辑"><i class="fa fa-pencil-square-o"></i></a>
                                    <a href="javascript:void(0);" class="del btRed" contentAuthority="229" title="删除"><i class="fa fa-trash-o"></i> </a>
                                </label>
                            </td>
                            <td>
                               ${parseInt(((current-1)*page_size)) + (parseInt(i)+1)}
                            </td>
                            <td>
                                ${data[i]['ckm_process.name']}
                            </td>
                            <td>
                                ${lType[data[i]['ckm_process.type']]}
                            </td>
                            <td>
                                ${JSON.parse(data[i]['ckm_process.status'])}
                            </td>
                           
                        </tr>`
					);
				}

				$('.dataList').html(list.join(''));

				cs.getNodes([229]);

				//分页
				if($('.ui-pagination-container').length <= 0) {
					cs.setPagination('#pagination', 5, res.data.totalCount, 10, getPage);
				}

				deleteProcedure();
				
				edit(data);
			}

		$('#changePageNum').change(function() {
			pagesize = $(this).val();
			getList(1);
		})

		function getPage(current) {
			page = current;
			getList(1);
		}

		//删除
		function deleteProcedure() {
			
			
			//删除
			$('#dynamic-table tbody tr').find('.del').click(function() {
				var id = $(this).parents('tr').attr('procedure-id');
				layui.use('layer', function() {
					var layer = layui.layer;
					layer.confirm('确认删除该流程？', function(index) {
						ykp.doAjax({
							url: '/api/api_process/del',
							method: 'post',
							data: {
								id: id
							},
							success:function(res) {
								ykp.prompt('删除成功!');
								getList(1);
							}
						});
						layer.closeAll();
					});
				})
			})
		}
		
		function edit(dataArr) {
			
			$('.editInfo').click(function() {
				var index = $(this).parents('tr').index();
				showMark('#template2');
				var data = dataArr[index];
				$('#showBox .title').text('编辑');
				$('#templateBox .lc_name').val(data['ckm_process.name']);
				
				var content = "";
				var status = JSON.parse(data['ckm_process.status']);
                console.log(status);
                for(var i = 0; i < status.length; i++) {
					if(i == 0) {
						content += `<div>
							<input type="text" msg="流程状态不能为空" value="${status[i]}">
							<span>
		                        <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
		                    </span>
						</div>`;
					}else {
						content += `<div>
                                    <input type="text" msg="流程状态不能为空" value="${status[i]}">
                                    <span>
                                        <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
                                    </span>
                                </div>`;
					}
				}
				$('#templateBox .status').html(content);
				minusOrPlus();
				var id = data['ckm_process.id'];
				$('#templateCon .add').click(function() {
					if(!cs.popValidate()) {
						return;
					}

					var statuss = [];
					$('#templateCon .status input').not(':hidden').each(function(i, e) {
						statuss.push($(this).val());
					});

					ykp.doAjax({
						url: '/api/api_process/edit',
						methods: 'post',
						data: {
							id:id,
							name: $('#templateCon .lc_name').val(),
							status:JSON.stringify(statuss)
						},
						success:function(res) {
							ykp.prompt('编辑成功!');
							$('.in').removeClass('modal-backdrop');
							$('#showBox').addClass('ishide');
							getList(1);
						}
					})
				});
			})
		}
		

		//添加
		function addData() {
			$('#add').click(function() {
				showMark('#template1');
				$('#showBox .title').text('添加');
				//弹出层点击 流程状态 - 或者 +
				minusOrPlus();
				
				getType();
				

				//选择流程分类为 记账报税时，默认展示六条流程状态：收单，整单，记账，报税，客服，送单
				$('#templateCon .products').change(function(){
                    console.log($(this).val());
                    if($(this).val() == 0){
                        $('#templateCon .status').html(
							`<div>
                                <input type="text" disabled value="收单" msg="流程状态不能为空">
                                <span>
                                    <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>
                                <input type="text" disabled value="整单" msg="流程状态不能为空">
                                <span>
                                    <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>
                                <input type="text" disabled value="记账" msg="流程状态不能为空">
                                <span>
                                    <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
                                </span>
                            </div>
                             <div>
                                <input type="text" disabled value="客服" msg="流程状态不能为空">
                                <span>
                                    <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>
                                <input type="text" disabled value="报税" msg="流程状态不能为空">
                                <span>
                                    <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>
                                <input type="text" value="送单" msg="流程状态不能为空">
                                <span>
                                    <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
                                </span>
                            </div>`
						);

						minusOrPlus(true);
					}
					if($(this).val() != 0){
						$('#templateCon .status').html(
							`<div>
                                <input type="text" msg="流程状态不能为空">
                                <span>
                                    <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
                                </span>
                            </div>`
						);

						minusOrPlus();
					}
				});

				$('#templateCon .add').click(function() {
					if(!cs.popValidate()) {
						return;
					}

					var statuss = [];
					$('#templateCon .status input').not(':hidden').each(function(i, e) {
						statuss.push($(this).val());
					});

					ykp.doAjax({
						url: '/api/api_process/add',
						methods: 'post',
						data: {
							type: $('#templateCon .products').val(),
							name: $('#templateCon .lc_name').val(),
							status:JSON.stringify(statuss)
						},
						success:function(res) {
							ykp.prompt('添加成功!');
							$('.in').removeClass('modal-backdrop');
							$('#showBox').addClass('ishide');
							getList(1);
						}
					})
				});
			})
		}
		
		
		function getType(){
			ykp.doAjax({
					url: '/api/api_ptype/index',
					method: 'post',
					data:{
						limit:1000,
						filter:"ckm_ptype.is_del=0"
					},
					async:false,
					success: function(res) {
						console.log(res);
						var data = res.data.items;
						var option = "<option> --- 请选择 --- </option><option value='0'> 记账报税 </option>"
						for(var i in data){
							option += "<option value="+data[i]['ckm_ptype.id']+">"+ data[i]['ckm_ptype.name']+"</option>";
							lType[data[i]['ckm_ptype.id']] = data[i]['ckm_ptype.name'];
						}
						
						$('#templateCon .products').html(option);
						
					}
				})
		}
		
		function minusOrPlus(flag) {
					$('#templateCon .status span').unbind('click').click(function() {
						if($(this).find('i').hasClass('fa-minus-square')) {
							if(flag){
								$(this).parent().hide();
								if($('#templateCon .status>div').not(':hidden').length == 1){
									$('#templateCon .status>div').not(':hidden').eq(0).find('i').removeClass('fa-minus-square').addClass('fa-plus-square');
								}
								minusOrPlus(flag);
								return;
							}

							$(this).parent().remove();
						}
						if($(this).find('i').hasClass('fa-plus-square')) {
							if(flag){
								$('#templateCon .status>div:hidden').eq(0).show();
								$('#templateCon .status>div:visible').find('i').removeClass('fa-plus-square').addClass('fa-minus-square');
								$('#templateCon .status>div:visible').eq(0).find('i').removeClass('fa-minus-square').addClass('fa-plus-square');
								if($('#templateCon .status>div').not(':hidden').length == 6){
									$('#templateCon .status>div').find('i').removeClass('fa-plus-square').addClass('fa-minus-square');
								}
								minusOrPlus(flag);
								return;
							}

							$('#templateCon .status').append(
								`<div>
                                    <input type="text" msg="流程状态不能为空">
                                    <span>
                                        <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
                                    </span>
                                </div>`
							);

							minusOrPlus();
						}
					});
				}
	});
</script>