<style type="text/css">
    #templateCon label{
        width: 84px;
        text-align: right;
    }
</style>
<div class="widget-main">
    <div class="row">
        <div>
            <h3 class="header smaller lighter blue">税局管理</h3>
            <div class="row" style="margin-top: 20px;">
                <div class="col-sx-4" style=" float: left; margin-right: 15px;">
                    <button type="button" id="add" class="btn btn-info btn-sm">
                        <i class="fa fa-plus"></i>
                        添加
                    </button>
                </div>
            </div>
        </div>
        <div class="custom_table">
            <table id="dynamic-table" style="margin-bottom:0px;">
                <thead>
                    <tr class="thColor">
                        <th class="center thColor">区域名称</th>
                        <th class="center">税务局类型</th>
                        <th class="hidden-480 center">税务局网站</th>
                        <th class="hidden-480 center">操作</th>
                    </tr>
                </thead>
                <tbody id="dataList">
                
                </tbody>

            </table>
            <div align="center">
				<div id="pagination"></div>
			</div>
        </div>
    </div>

    <div class="row" id="template1" style="display:none;">
        <div class="widget-header widget-header-small" style="padding-left:0;">
            <span style="font-size:16px;">编辑</span>
        </div>
        <div style="margin-top:15px;">
             <label> 区域名称： </label>
             <input type="text" class="area" msg="区域名称不能为空">
             <label style="margin-left:20px;"> 税务局类型： </label>
             <select class="type" msg="请选择税务局类型">
                 <option> --- 请选择 --- </option>
                 <option> 国税 </option>
                 <option> 地税 </option>
             </select>
        </div>
        <div style="margin-top:15px;">
            <label> 税务局网站： </label>
            <input type="text" id="form-field-icon-1" class="link" msg="税务局网站不能为空">
        </div>
        <div style="text-align:right;margin-top:15px;">
            <span class="msg" style="margin-left:calc(50% - 49px);float:left;line-height:34px;display:none;color:red;"></span>

            <button class="sure_button add">
                <i class="fa fa-check" aria-hidden="true"></i>
                保存
            </button>
        </div>
    </div>
    {% include 'admin/mark.html' %}
</div>
<script src="/resource/adimin/assets/js/src/public.js"></script>
<script>
    jQuery(function ($) {
        var data = {};
        var page = 1;
        addData();
        
        //获取数据
        getList();

        function getList(){
            data = {
                url:'/api/Api_tax_bureau/index',
                methods:'get',
                data:{
                    "page":page,
                    "limit":10,
                    "order":'cwm_tax_bureau.create_time desc'
                }
            } 
            cs.doAjax(data,function(res){
                var data = res.data.items;
                if (data == '') {
                    setTimeout(function(){
                        ykp.prompt('暂无数据！');
                    },1000);
                    $('#dataList').html('<tr><td colspan="30"><div class="table-actions clearfix"></div> <div style="text-align: center" class="page">暂无数据</div></td></tr>');
                    return;
                }
                var list = [];
                for(var i in data){
                    list.push(
                        `<tr tax-id="${data[i]['cwm_tax_bureau.id']}">
                            <td>
                                <span>${data[i]['cwm_tax_bureau.area_name']}</span>
                            </td>
                            <td>
                                <span>${data[i]['cwm_tax_bureau.type'] == 1 ? '国税' : '地税'}</span>
                            </td>
                            <td>
                                <span>${data[i]['cwm_tax_bureau.link']}</span>
                            </td>
                            <td>
                                <label class="pos-rel">
                                    <a href="#" class="edit"> <span class="lbl">编辑&nbsp</span></a>|
                                    <a href="#" class="del"> <span class="lbl red">&nbsp删除</span></a>
                                </label>
                            </td>
                        </tr>`
                    );
                }

                $('#dataList').html(list.join(''));

                //分页
                 if($('.ui-pagination-container').length <= 0){
                    cs.setPagination('#pagination', 5, res.data.totalCount, 10, getPage);
                }

                editOrdelete();
            });
        }
        
        function getPage(current){
        page = current;
        getList();
    }

    //编辑或者删除
    function editOrdelete(){
        //编辑
        $('#dynamic-table tbody tr').find('.edit').click(function() {
            var editTr = $(this).parents('tr');
            showMark("#template1");

            var inputOrSelect = $('#templateCon').find('input,select');
            editTr.find('td>span').each(function(i, n) {
                inputOrSelect.eq(i).val($(this).text());
            })

            //保存
            $('#templateCon .add').click(function() {
                if(!cs.popValidate()){
                    return;
                };

                var data = {
                    url:'/api/api_tax_bureau/edit',
                    methods:'post',
                    data:{
                        id:editTr.attr('tax-id'),
                        area_name:$('#templateCon .area').val(),
                        type:$('#templateCon .type option:selected').index(),
                        link:$('#templateCon .link').val()
                    }
                }

                cs.doAjax(data,function(res){
                    var conText = [];
                    $('#templateCon').find('input,select').each(function() {
                        conText.push($(this).val());
                    });
                    editTr.find('td>span').each(function(index,element){
                        $(this).text(conText[index]);
                    });

                    //关闭弹出层
                    $('.in').removeClass('modal-backdrop');
                    $('#showBox').addClass('ishide');
                });
            })
        })

        //删除
        $('#dynamic-table tbody tr').find('.del').click(function() {
            data = {
                url:'/api/api_tax_bureau/del',
                methods:'post',
                data:{
                    id:$(this).parents('tr').attr('tax-id')
                }
            }
            cs.doAjax(data,function(res){
                $('#pagination .ui-pagination-container').remove();
                getList();
            });
        })
    }

    //添加
    function addData() {
        $('#add').click(function () {
            showMark( '#template1');

            $('#templateCon .add').click(function(){
                if(!cs.popValidate()){
                    return;
                };

                var data = {
                    url:'/api/api_tax_bureau/add',
                    methods:'post',
                    data:{
                        area_name:$('#templateCon .area').val(),
                        type:$('#templateCon .type option:selected').index(),
                        link:$('#templateCon .link').val()
                    }
                };

                cs.doAjax(data,function(res){
                    $('.in').removeClass('modal-backdrop');
                    $('#showBox').addClass('ishide');

                    $('#pagination .ui-pagination-container').remove();
                    getList();
                });
            });
        })
    }
    });
</script>
