<style type="text/css">
	#templateCon tbody tr td:before{
		content: none !important;
	}
</style>
<div class="set_label" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;">
	<div style="width:700px;margin:39px auto;z-index:1060;background:#fff;position:relative;
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);">
		<div style="padding:15px 10px;text-align:right;border-bottom:1px solid #ddd;">
			<a href="javascript:;" class="close_label"><i class="fa fa-times" aria-hidden="true"></i></a>
		</div>
		<div style="padding:15px; 10px;">
			<h3 style="display:block;padding:0 15px;font-size:24px;">
                设置客户的标签 <span href="#" class="system_label" url="?url=label&i=3-5&type=0" style="cursor:pointer;font-size:12px;">设置系统标签</span>
            </h3>
			<hr style="margin:10px 0 0 0;">
		</div>
		<div style="padding:0 15px 0 15px;">
			<div class="custom_table" style="width:670px;max-height:400px;overflow-y:auto !important;">
				<table style="width:100%;table-layout:fixed;">
	                <tbody class="label_area">
	                    
	                </tbody>            
	            </table>
            </div>
		</div>
		<div style="padding:15px;text-align:right;">
			<button type="button" class="btn btn-info btn-sm close_label">关闭</button>
			<button type="button" class="btn btn-info btn-sm hold">保存</button>
		</div>
	</div>
</div>

<div class="edit_popup" style="display:none;">
	<div>
		<table style="margin-bottom:20px;margin-top:20px;">
			<tr>
				<td>客户编码</td>
				<td>
					<input basic disabled style="width:153px;"/>
				</td>
				<td>客户级别</td>
				<td>
					<select basic field="rank" style="width:153px;">
						<option value=""> - - - 请选择 - - - </option>
						<option value="1"> 普通 </option>
						<option value="2"> 一般 </option>
						<option value="3"> 重要 </option>
					</select>
				</td>
			</tr>

			<tr>
				<td>客户状态</td>
				<td>
					<select basic field="status" style="width:153px;">
						<option value=""> - - - 请选择 - - - </option>
						<option value="0"> 未合作 </option>
						<option value="1"> 合作中 </option>
						<option value="2"> 已解约 </option>
					</select>
				</td>
				<td>最后跟进人</td>
				<td>
					<input style="width:153px;" follow disabled/>
				</td>
			</tr>
			<tr>
				<td>最后跟进时间</td>
				<td>
					<input style="width:153px;" follow disabled/>
				</td>
				<td>所属仓位</td>
				<td>
					<label position style="text-align:left;width:115px;"></label>
					<button class="transfer btn btn-info btn-sm">转移</button>
				</td>
			</tr>
			<tr>
		</table>
		<div class="transfer_content" style="display:none;">
			<p style="font-size: 16px;font-weight: bold;margin-bottom:15px;">请选择转移位置：</p>
			<div style="margin-top:10px;">
				<label style="width:60px">仓位名称：</label>
				<select class="pos_name" field="pos_id">
					<option value=""> - - - 请选择 - - - </option>
				</select>
			</div>
			<div style="margin-top:10px;">
				<label style="width:60px;float:left;">转移原因：</label>
				<textarea field="reason" style="width:86%;margin-left:5px;padding:5px;"></textarea>
			</div>
		</div>
		<div class="popup_button">
			<button class="sure_button edit_sure" style="padding:5px;">保存</button>
		</div>
	</div>
</div>

<div class="popup_detail" style="display:none">
	<div data-id="" id="custom_id" style="width:1000px;">
		<div style="margin-top:20px;width:100%">
			<div class="custom_table" id="custom_table_test">
				<table>
					<thead>
						<tr>
							<th>客户编码</th>
							<th>客户级别</th>
							<th>客户状态</th>
							<th>最后跟进人</th>
							<th>最后跟进时间</th>
							<th>所属仓位</th>
							<th>地图</th>
						</tr>
					</thead>
					<tbody class="basic_message">
						<tr>
							<td style="text-align: center;" basic></td>
							<td style="text-align: center;" basic></td>
							<td style="text-align: center;" basic></td>
							<td style="text-align: center;" follow></td>
							<td style="text-align: center;" follow></td>
							<td style="text-align: center;" position></td>
							<td style="text-align: center;"><a href="#" class="js-map"><i class="fa fa-space-shuttle" aria-hidden="true"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="layui-tab" lay-filter="demo">
			<ul class="layui-tab-title">
				<li class="layui-this">摘要</li>
				<li>信息</li>
				<li>联系人</li>
				<li>服务</li>
				<li lay-id="td">团队</li>
				<li>合同</li>
				<li>收款</li>
				<li>支出</li>
				<li>开票</li>
				<li>物品</li>
				<li>附件</li>
				<li>修改记录</li>
			</ul>
			<div class="layui-tab-content">
				<!--摘要-->
				<div class="layui-tab-item layui-show">
					<div>
						<div>
							<p style="margin:0 auto;padding-bottom:20px;padding:10px;background-color: #ccecff;text-align:center;font-size:16px;">待办任务</p>
						</div>
						<div>
							<div class="wait_finish_task" style="display:none;">
								<table>
									<tbody>
										<tr>

										</tr>
									</tbody>
								</table>
							</div>
							<div class="wait_finish_task">
								<div style="border:1px solid #ddd;text-align:center;height: 40px;line-height: 40px;">
									暂无数据
								</div>
							</div>
						</div>
					</div>
					<div>
						<div style="margin-top:30px;">
							<p style="margin:0 auto;padding:10px;background-color: #ccecff;text-align:center;font-size:16px;">新建联系记录</p>
						</div>
						<div style="margin-top:15px;">
							<textarea contact-field="contact_msg" placeholder="新建一条联系记录" style="background-color:#c5e0f1;color:#333;border:none;width:73%;padding:5px;height:100px;resize:none;"></textarea>
							<div style="display:inline-block;width:27%;float:right;">
								<div style="padding:0 0 5px 10px;">
									<select style="width:180px;" contact-field="contact_type">
										<option value="1" selected>售后服务</option>
										<option value="2">售前服务</option>
									</select>
									<select style="width:180px;margin-top:5px;" contact-field="contact_way">
										<option value="1" selected>电话</option>
										<option value="2">微信</option>
										<option value="3">QQ</option>
										<option value="4">邮箱</option>
									</select>
								</div>
								<div style="padding:0 0 5px 10px;">
									<div class="input-group" style="display: inline-flex; width: 180px;">
										<input class="date-timepicker1 required" msg="联系时间不能为空" style="height: 30px; width: 150px;" contact-field="log_time">
										<span class="input-group-addon" style="width:30px;height:30px;">
			                                <i class="fa fa-clock-o bigger-110" style="position:relative;right:3px;"></i>
			                            </span>
									</div>
									<span style="padding:6px 16px;color:#fff;margin-left:5px;background-color:#4ebefd;cursor:pointer;" class="new_contactRecord">发送</span>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div style="margin-top:30px;">
							<p style="margin:0 auto;padding:10px;background-color: #ccecff;text-align:center;font-size:16px;">最近联系记录</p>
						</div>
						<div class="recent_contact_record">

						</div>
					</div>
				</div>

				<!--信息-->
				<div class="layui-tab-item">
					<div>
						<div>
							<table style="border:1px solid #ddd;border-collapse:collapse;">
								<tr>
									<td class="unite-label">公司全称</td>
									<td colspan="3" data-title="name"></td>
								</tr>
								<tr>
									<td class="unite-label">客户编码</td>
									<td data-title="id"></td>
									<td class="unite-label">仓位编码</td>
									<td pos-id></td>
								</tr>
								<tr>
									<td class="unite-label">营业执照号</td>
									<td data-title="license_no"></td>
									<td class="unite-label">客户来源</td>
									<td data-title="source"></td>
								</tr>
								<tr>
									<td class="unite-label">法人证件号</td>
									<td data-title="corporation_card"></td>
									<td class="unite-label">法人姓名</td>
									<td data-title="corporation"></td>
								</tr>
								<tr>
									<td class="unite-label">注册资金</td>
									<td data-title="capital"></td>
									<td class="unite-label">实收资金</td>
									<td data-title="paid_in_capital"></td>
								</tr>
								<tr>
									<td class="unite-label">注册日期</td>
									<td data-title="stablish_time"></td>
									<td class="unite-label">添加日期</td>
									<td data-title="create_at"></td>
								</tr>
								<tr>
									<td class="unite-label">注册地址</td>
									<td data-title="register_address"></td>
									<td class="unite-label">客户级别</td>
									<td data-title="rank"></td>
								</tr>
							</table>
						</div>
						<div style="margin-top:20px;">
							<table style="border:1px solid #ddd;border-collapse:collapse;">
								<tr>
									<td class="unite-label">纳税识别号</td>
									<td data-title="ratepaying_no" colspan="3"></td>
								</tr>
								<tr>
									<td class="unite-label">国税编码</td>
									<td data-title="state_tax_no"></td>
									<td class="unite-label">地税编码</td>
									<td data-title="local_tax_no"></td>
								</tr>
								<tr>
									<td class="unite-label">税务备注</td>
									<td data-title="remark" colspan="3"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<!--联系人-->
				<div class="layui-tab-item">
					<div>
						<div class="custom_table">
							<table>
								<thead>
									<tr>
										<th>姓名</th>
										<th>性别</th>
										<th>客户名称</th>
										<th>手机</th>
										<th>电话</th>
										<th>QQ</th>
										<th>是否关键决策人</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr>
										<td>李四</td>
											<td>男</td>
											<td>李四</td>
											<td>18926546552</td>
											<td>0755-86526354</td>
											<td>895564215</td>
											<td>李李</td>
									</tr> -->
								</tbody>
							</table>
						</div>
						<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
							<div align="left" style="padding-left: 15px; float: left;" class="_num"></div>
							<!--<div id="pagination" style="float: left; width: 80%; height: 25px;"></div>-->
							<div class="pageBar pagination"></div>
							<div align="right" style="float: right;">
								<select style="width: 100px;" id="changePageNum">
									<option value="10">每页10条</option>
									<option value="20">每页20条</option>
									<option value="50">每页50条</option>
									<option value="100">每页100条</option>
									<option value="200">每页200条</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<!--服务-->
				<div class="layui-tab-item">
					
				</div>
				<!--团队-->
				<div class="layui-tab-item">
					
				</div>
				<!--合同-->
				<div class="layui-tab-item">
					 
				</div>
				<!--收款-->
				<div class="layui-tab-item">
					<div class="custom_table">
						<table>
							<thead id="dataList">
								<tr>
									<th>订单编号</th>
									<th>欠费周期</th>
									<th>欠费金额</th>
									<th>1月</th>
									<th>2月</th>
									<th>3月</th>
									<th>4月</th>
									<th>5月</th>
									<th>6月</th>
									<th>7月</th>
									<th>8月</th>
									<th>9月</th>
									<th>10月</th>
									<th>11月</th>
									<th>12月</th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr>
									<td>税脉θ</td>
									<td>0</td>
									<td>0</td>
									<td class="success">
										<label class="pos-rel glyphicon glyphicon-ok"></label>
									</td>
									<td class="fail">
										<label class="pos-rel glyphicon glyphicon-remove"></label>
									</td>
									<td class="fail">
										<label class="pos-rel glyphicon glyphicon-remove"></label>
									</td>
									<td class="fail">
										<label class="pos-rel glyphicon glyphicon-remove"></label>
									</td>
									<td class="fail">
										<label class="pos-rel glyphicon glyphicon-remove"></label>
									</td>
									<td class="fail">
										<label class="pos-rel glyphicon glyphicon-remove"></label>
									</td>
									<td class="fail">
										<label class="pos-rel glyphicon glyphicon-remove"></label>
									</td>
									<td class="fail">
										<label class="pos-rel glyphicon glyphicon-remove"></label>
									</td>
									<td class="fail">
										<label class="pos-rel glyphicon glyphicon-remove"></label>
									</td>
									<td class="fail">
										<label class="pos-rel glyphicon glyphicon-remove"></label>
									</td>
									<td class="fail">
										<label class="pos-rel glyphicon glyphicon-remove"></label>
									</td>
									<td class="fail">
										<label class="pos-rel glyphicon glyphicon-remove"></label>
									</td>
								</tr> -->
							</tbody>
						</table>
					</div>
                    <div style="margin-top: 20px;" class="custom_table">
                    	<table>
		                    <thead>
		                    <tr>
		                        <th>订单编号</th>
		                        <th>业务员</th>
		                        <th>负责人</th>
		                        <th>服务项目</th>
		                        <th>费用说明</th>
		                        <th>合同时间</th>
		                        <th>收款状态</th>
		                        <th>合同金额</th>
		                        <th>已收款金额</th>
		                        <th>欠款金额</th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                       <!--  <tr>
		                            <td>牧牛网络</td>
		                            <td>于颖</td>
		                            <td>于颖</td>
		                            <td>注册商标</td>
		                            <td>无</td>
		                            <td>2017/8/14</td>
		                            <td>执行中</td>
		                            <td>1000</td>
		                            <td>1000</td>
		                            <td>1000</td>
		                            <td>1000</td>
		                        </tr> -->
		                    </tbody>
		                </table>
                    </div>
				</div>
				<!--支出-->
				<div class="layui-tab-item">
					<div>
						<table class="custom_table">
							<thead class="dynamic-table">
								<tr>
									<th>支出编号</th>
									<th>客户名称</th>
									<th>订单编号</th>
									<th>状态</th>
									<th>支出日期</th>
									<th>支出金额(元)</th>
									<th>支付方式</th>
									<th>支付账户</th>
									<th>负责人</th>
									<th>备注</th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr>
									<td>000</td>
										<td>李四</td>
										<td>001</td>
										<td>好</td>
										<td>0755-86526354</td>
										<td>895564215</td>
										<td>现金</td>
										<td>45646</td>
										<td>李李</td>
										<td>李李</td>
								</tr> -->
							</tbody>
						</table>
					</div>
					<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
						<div align="left" style="padding-left: 15px; float: left;" class="_num"></div>
						<!--<div id="pagination" style="float: left; width: 80%; height: 25px;"></div>-->
						<div class="pageBar pagination"></div>
						<div align="right" style="float: right;">
							<select style="width: 100px;" id="changePageNum">
								<option value="10">每页10条</option>
								<option value="20">每页20条</option>
								<option value="50">每页50条</option>
								<option value="100">每页100条</option>
								<option value="200">每页200条</option>
							</select>
						</div>
					</div>
				</div>
				<!--开票-->
				<div class="layui-tab-item">
					<div>
						<table class="custom_table">
							<thead class="dynamic-table">
								<tr>
									<th>开票申请号</th>
									<th>客户名称</th>
									<th>订单编号</th>
									<th>状态</th>
									<th>开票日期</th>
									<th>开票金额(元)</th>
									<th>开票类型</th>
									<th>发票号码</th>
									<th>抬头类型</th>
									<th>开票抬头</th>
									<th>社会统一信用码</th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr>
									<td>000</td>
									<td>李四</td>
									<td>001</td>
									<td>好</td>
									<td>0755-86526354</td>
									<td>895564215</td>
									<td>现金</td>
									<td>45646</td>
									<td>李李</td>
									<td>李李</td>
									<td>李李</td>
								</tr> -->
							</tbody>
						</table>
					</div>
					<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
						<div align="left" style="padding-left: 15px; float: left;" class="_num"></div>
						<!--<div id="pagination" style="float: left; width: 80%; height: 25px;"></div>-->
						<div class="pageBar pagination"></div>
						<div align="right" style="float: right;">
							<select style="width: 100px;" id="changePageNum">
								<option value="10">每页10条</option>
								<option value="20">每页20条</option>
								<option value="50">每页50条</option>
								<option value="100">每页100条</option>
								<option value="200">每页200条</option>
							</select>
						</div>
					</div>
				</div>
				<!-- 物品 -->
				<div class="layui-tab-item">
					<div class="layui-collapse" lay-accordion lay-filter="demo1">
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">盘点</h2>
							<div class="layui-colla-content" index="0">
								<div class="custom_table">
									<table>
										<thead>
											<tr class="thColor ths">
												<th>盘点编码</th>
												<th>盘点日期</th>
												<th>仓库名称</th>
												<th>仓位</th>
												<th>库存物品</th>
												<th>库存数量</th>
												<th>盘点数量</th>
												<th>盘点差额</th>
												<th>盘点结果</th>
												<th>创建人</th>
												<th>创建时间</th>
											</tr>
										</thead>
										<tbody>
										
										</tbody>
									</table>
								</div>
								<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
									<div align="left" style="padding-left: 15px; float: left;" class="_num"></div>
									<div class="pageBar pagination"></div>
									<div align="right" style="float: right;">
										<select style="width: 100px;" id="changePageNum">
											<option value="10">每页10条</option>
											<option value="20">每页20条</option>
											<option value="50">每页50条</option>
											<option value="100">每页100条</option>
											<option value="200">每页200条</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="layui-colla-item">
							<h2 class="layui-colla-title">入库</h2>
							<div class="layui-colla-content" index="1">
								<div class="custom_table">
									<table class="dynamic-table">
										<thead>
											<tr>
												<th>入库单号</th>
												<th>入库类型</th>
												<th>仓库名称</th>
												<th>经办人</th>
												<th>入库时间</th>
												<th>入库物品</th>
												<th>入库数量</th>
												<th>创建人</th>
												<th>创建时间</th>
											</tr>
										</thead>
										<tbody>
											<!-- <tr>
												<td>测试</td>
												<td>2017-8-2 11:34:28</td>
												<td>张三</td>
												<td>测试</td>
												<td>2017-8-2 11:34:28</td>
												<td>张三</td>
												<td>测试</td>
												<td>2017-8-2 11:34:28</td>
												<td>
													<a href="javascript:;">编辑</a>&nbsp;&nbsp;
													<a href="javascript:;">删除</a>
												</td>
											</tr> -->
										</tbody>
									</table>
								</div>
	
								<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
									<div align="left" style="padding-left: 15px; float: left;" class="_num"></div>
									<div class="pageBar pagination"></div>
									<div align="right" style="float: right;">
										<select style="width: 100px;" id="changePageNum">
											<option value="10">每页10条</option>
											<option value="20">每页20条</option>
											<option value="50">每页50条</option>
											<option value="100">每页100条</option>
											<option value="200">每页200条</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">出库</h2>
							<div class="layui-colla-content" index="2">
								<div class="custom_table">
									<table>
										<thead>
											<tr class="thColor">
												<th>出库单号</th>
												<th>出库类型</th>
												<th>仓库名称</th>
												<th>经办人</th>
												<th>出库时间</th>
												<th>出库物品</th>
												<th>出库数量</th>
												<th>创建人</th>
												<th>创建时间</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
								</div>
								<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
									<div align="left" style="padding-left: 15px; float: left;" class="_num"></div>
									<div class="pageBar pagination"></div>
									<div align="right" style="float: right;">
										<select style="width: 100px;" id="changePageNum">
											<option value="10">每页10条</option>
											<option value="20">每页20条</option>
											<option value="50">每页50条</option>
											<option value="100">每页100条</option>
											<option value="200">每页200条</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--附件-->
				<div class="layui-tab-item">
					<div class="custom_table">
						<table class="dynamic-table">
							<thead>
								<tr>
									<th>文档名称</th>
									<th>上传时间</th>
									<th>上传人</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr>
									<td>测试</td>
									<td>2017-8-2 11:34:28</td>
									<td>张三</td>
									<td>
										<a href="javascript:;">下载</a>
									</td>
								</tr> -->
							</tbody>
						</table>
					</div>
				</div>
				<div class="layui-tab-item">
					<div class="custom_table">
						<table>
							<tbody>
								
							</tbody>
						</table>
					</div>
					<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
						<div align="left" style="padding-left: 15px; float: left;" class="_num"></div>
						<div class="pageBar pagination"></div>
						<div align="right" style="float: right;">
							<select style="width: 100px;" id="changePageNum">
								<option value="10">每页10条</option>
								<option value="20">每页20条</option>
								<option value="50">每页50条</option>
								<option value="100">每页100条</option>
								<option value="200">每页200条</option>
							</select>
						</div>
					</div>
				</div>
				<!--<div class="layui-tab-item">内容12</div>-->
			</div>
		</div>
	</div>

</div>

<div class="label_popup" id="addremark" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;">
	<div style="width:400px;margin:39px auto;z-index:1060;background:#fff;position:relative;border:1px solid #ddd;
		            box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);">
		<div style="padding:15px;border-bottom:1px solid #ddd;">
			<span style="display: inline-block;">添加备注</span>
			<a href="javascript:;" class="close_label" style="float: right;"><i class="fa fa-times" aria-hidden="true"></i></a>
		</div>
		<div style="padding: 10px 50px;">
			<input type="text" width="200px" placeholder="备注" style="margin: auto;" id="labelName" />
		</div>
		<div style="padding: 10px 50px;">
			<select id="typeName">
				<option value="">请选择备注类别</option>
				<option value="0">公司备注</option>
				<option value="1">个人备注</option>
			</select>
		</div>
		<div style="padding:15px;text-align:right;">
			<button class="close_label">关闭</button>
			<button class="hold">保存</button>
		</div>
	</div>
</div>

<div id="remark" style="display: none;">
	<div style="padding:15px;">
		<h3 style="display:block;padding:0 15px;">
                	未完成备注
                	 <span style="float:right;"><a class="add" href="javascript:;" title="返回" style="padding:4px 10px 5px 10px;background:#428bca;color:#fff;"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a></span>
           </h3>

		<hr>
	</div>

	

	<div class="custom_table" id="custom_table_test">
		<table>
			<thead>
				<tr>
					<th>备注</th>
					<th>完成状态</th>
					<th>创建人</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="datalist">
				
			</tbody>
		</table>
	</div>
	
	
	<div style="padding:15px; margin-top: 50px;">
		<h3 style="display:block;padding:0 15px;">
                	已完成备注
             </h3>
		<hr>
	</div>
	<div class="custom_table" id="custom_table_test">
		<table>
			<thead>
				<tr>
					<th>备注</th>
					<th>完成状态</th>
					<th>创建人</th>
					<th>创建时间</th>
					<th>完成人</th>
					<th>完成时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="datalist1">
				
			</tbody>
		</table>
		<!--<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
					<div align="left" style="padding-left: 15px; float: left; width: 10%;" id="num"></div>
					<!--<div id="pagination" style="float: left; width: 80%; height: 25px;"></div>-->
					<div id="pageBar2" class="pagination"></div>
				</div>
	</div>-->

	<div style="padding:15px; margin-top: 50px;">
		<h3 style="display:block;padding:0 15px;">
                	个人备注
           </h3>
		<hr>
	</div>
	<div class="custom_table" id="custom_table_test">
		<table>
			<thead>
				<tr>
					<th>备注</th>
					<th>创建时间</th>
					<th>完成状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="datalist2">
				
			</tbody>
		</table>
	</div>
</div>
<script src="/resource/adimin/assets/js/src/customer.js"></script>
<script>
	$(function() {
		//		layuiTab();
		//
		//		function layuiTab() {
		//			layui.use('element', function() {
		//				var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
		//
		//				element.on('tab(demo)', function(data) {
		//					var html = $($('#templateCon .layui-show').html());
		//					var index = data.index;
		//					switch(index) {
		//						case 0:
		//							abstract(html);
		//							break;
		//						case 1:
		//							info(html);
		//							break;
		//						case 2:
		//							contacts(html);
		//							break;
		//						case 3:
		//							team();
		//							break;
		//						case 4:
		//							contract(html)
		//							break;
		//						case 5:
		//							getmoney(html);
		//							break;
		//						case 6:
		//							_back(html);
		//							break;
		//						case 7:
		//							cost(html);
		//							break;
		//						case 8:
		//							billing(html);
		//							break;
		//						case 9:
		//							goods(html);
		//							break;
		//						case 10:
		//							enclosure(html);
		//							break;
		//						case 11:
		//							change(html);
		//							break;
		//						default:
		//							break;
		//					}
		//				});
		//
		//			})
		//
		//			//摘要
		//			function abstract(html) {
		//				console.log(html.find('.test1').text());
		//			}
		//
		//			//信息
		//			function info(html) {
		//				var id = $('#templateBox #custom_id').attr('data-id');
		//				ykp.doAjax({
		//					url:"/api/api_customer/customer",
		//					method:'post',
		//					data:{
		//						filter:"khm_customer.id = "+id,
		//						type:1,
		//						
		//					},
		//					success:function(res) {
		//						var data = res.data.items[0];
		//						var rank = ['','普通','一般','重要'];
		//						$('#templateCon .layui-show').find('td[data-title]').each(function() {
		//							for(var i in data){
		//								if(i.replace(/khm_customer./,'') == $(this).attr('data-title')){
		//									if(i.replace(/khm_customer./,'') == 'create_at' || i.replace(/khm_customer./,'') == 'stablish_time'){
		//										$(this).text(cs.getNowTime(data[i]));
		//									}else if(i.replace(/khm_customer./,'') == 'rank'){
		//										$(this).text(rank[data[i]]);
		//									}else{
		//										$(this).text(data[i]);
		//									}
		//								}
		//							}
		//						})
		//					}
		//				})
		//			}
		//
		//			//联系人
		//			function contacts(html) {}
		//
		//			//服务团队
		//			function team(html) {}
		//
		//			//合同
		//			function contract(html) {
		//
		//			}
		//
		//			//收款
		//			function getmoney(html) {
		//
		//			}
		//
		//			//退款
		//			function _back(html) {
		//
		//			}
		//
		//			//费用
		//			function cost(html) {
		//
		//			}
		//
		//			//开票
		//			function billing(html) {
		//
		//			}
		//
		//			//物品
		//			function goods(html) {
		//
		//			}
		//
		//			//附件
		//			function enclosure(html) {}
		//
		//			//修改记录
		//			function change(html) {}
		//		}
		//		
		//		get_custom_info();
		//		//获取公司简单信息
		//		function get_custom_info() {
		//			var id = $('#custom_id').attr('data-id');
		//			alert(id);
		////			ykp.doAjax({
		////				
		////			})
		//		}
	})
</script>