<div class="widget-main">
	<div class="row">
		<!-- <h3 class="header smaller lighter blue">出库审批</h3> -->
		<div class="actions" id="topTool">
			<div class="portlet">
				<div class="search">
					<i class="search-icon"></i>
					<input type="text" class="search-input" placeholder="搜索...">
				</div>
			</div>
			<button  class="btn btn-info btn-sm" style="height: 34px;">搜索</button>
			<a href="#" class="see-all"><i class="fa fa-eye"></i></i> 查看全部</a>
			<a href="#" class="approval-pending"><i class="fa fa-hourglass-2"></i> 待审批</a>
			<a href="#" class="passed"><i class="fa fa-check"></i> 已通过</a>
			<a href="#" class="not-pass"><i class="fa fa-minus-circle"></i> 未通过</a>
		</div>
		<div class="auditing-data custom_table">
			<table id="dynamic-table">
				<thead>
					<tr class="thColor">
						<th data-num="1">审批号</th>
						<th data-num="2">审批项目</th>
						<th data-num="3">提交员工</th>
						<th data-num="4">提交时间</th>
						<th data-num="5">审批员工</th>
						<th data-num="6">审批结果</th>
						<th data-num="7">审批时间</th>
						<th data-num="8">审批回复</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="datalist">
				</tbody>
			</table>
		</div>
		<div align="center">
			<div id="pagination"></div>
		</div>
	</div>
</div>
<script src="/resource/adimin/assets/js/src/public.js"></script>
<script type="text/javascript">
	$(function() {
		var page = 1;
        var approve_result= '';

        //获取列表数据
        getList();
        function getList(){
            var data = {
                type: 14,
                approve_result:approve_result
            }

            cs.spList(data,function(res){
                var data = res.data.items;
                if (data == '') {
                    setTimeout(function(){
                        ykp.prompt('暂无数据！');
                    },1000);
                    $('#datalist').html('<tr><td colspan="30"><div class="table-actions clearfix"></div> <div style="text-align: center" class="page">暂无数据</div></td></tr>');
                    return;
                }
                var results = ['待审核','已通过','未通过'];
                var styles = ['label-waitaudit','label-passed','label-nopass']
                var list = [];
                var times = {};
                for(var i in data){
                    times.submit_time = cs.getNowTime(data[i]['submit_time']);
                    times.approve_time = cs.getNowTime(data[i]['approve_time']);
                    list.push(
                        `<tr getlist-id="${data[i]['id']}">
                            <td data-num="1">${data[i]['approve_code']}</td>
                            <td data-num="2">出库</td>
                            <td data-num="3">${data[i]['submit_employee_name']}</td>
                            <td data-num="4">${times.submit_time}</td>
                            <td data-num="5">${data[i]['approve_employee_name']}</td>
                            <td data-num="6"><label class="${styles[--data[i]['approve_result']]}">${results[data[i]['approve_result']]}</label></td>
                            <td data-num="7">${times.approve_time}</td>
                            <td data-num="8">${data[i]['approve_reply']}</td>
                        </tr>`
                    );
                }

                $('#datalist').html(list.join(''));

                //分页
                if($('.ui-pagination-container').length <= 0){
                    cs.setPagination('#pagination', 5, res.data.totalCount, 10, getPage);
                }

                // auditDetail();
            });
        }

        $('#topTool').find('a').click(function(){
            if($(this).hasClass('see-all')){
                approve_result = '';
                $('.ui-pagination-container').remove();
                getList();
            }
            if($(this).hasClass('approval-pending')){
                approve_result = 1;
                $('.ui-pagination-container').remove();
                getList();
            }
            if($(this).hasClass('passed')){
                approve_result = 2;
                $('.ui-pagination-container').remove();
                getList();
            }
            if($(this).hasClass('not-pass')){
                approve_result = 3;
                $('.ui-pagination-container').remove();
                getList();
            }
        });

        //审批详情
        // function auditDetail(){
        //     $('.auditDetail').click(function(){
        //         var data = {
        //             url:'/api/api_approves/get_info',
        //             methods:'post',
        //             data:{
        //                 id:$(this).parents('tr').attr('getlist-id')
        //             }
        //         }

        //         cs.doAjax(data,function(res){
        //             console.log(res);
        //         });
        //     });
        // }

        function getPage(current) {
            page = current;
            getList();
        }

        //自定义table
        cs.custorm_check('#dynamic-table','#datalist',false);
	});
</script>