<style type="text/css">
	a{
		position:relative;
	}
	#templateCon td,th{
		text-align: center;
		height:30px;
	}
</style>
<div class="widget-main">
	<div class="row">
		<!-- <h3 class="header smaller lighter blue">送单审批</h3> -->
		<div class="actions" id="topTool">
			<div class="col-sx-4" style=" float: left;margin-right: 5px;">
				<div class="search">
					<input type="text" class="search-input"  sear="spm_approves.approve_code" maxlength="15" placeholder="审批编码">
				</div>
			</div>
			<div class="col-sx-4" style=" float: left;margin-right: 5px;">
				<div class="search">
					<input type="text" class="search-input" sear="spm_approves.customer_name" maxlength="15" placeholder="企业名称" autofocus>
				</div>
			</div>
			<div class="col-sx-4" style=" float: left;margin-right: 5px;">
				<div class="search">
					<input type="text" class="search-input" sear="spm_approves.customer_num" maxlength="15" placeholder="企业编码">
				</div>
			</div>

			<div class="col-sx-4" style=" float: left;margin-right: 5px;">
                <button id="search"  class="btn btn-info btn-sm">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="col-sx-4" style=" float: left;margin-right: 5px;">
                <button id="flush" type="button" class="btn btn-info btn-sm" style="background-color: #32CD32!important;">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
            <div class="col-sx-4" contentAuthority="198" style=" float: left;margin-right: 5px;">
                <button id="plSp"  class="btn sp btn-info btn-sm">
                    批量审批
                </button>
            </div>
            <div class="col-sx-4" style=" float: left;margin-right: 5px;">
                <div id="filterBtns" style="display:inline-block;width:290px;">
                    <a href="#" class="" style="background: #E6E6E6;" data-status="all">全部</a>
                    <a href="#" class="" data-status="1"> 待审批</a>
                    <a href="#" class="" data-status="2"> 已通过</a>
                    <a href="#" class="" data-status="3"> 未通过</a>
                </div>
            </div>
		</div>
		<div class="auditing-data custom_table">
			<table id="dynamic-table">
				<thead>
					<tr class="thColor">
						<th class="center">
							<label class="pos-rel">
	                                            <input type="checkbox" class="ace" onclick="checkAll(this.checked)"/>
	                                            <span class="lbl"></span>
	                                        </label>
						</th>
						<th>操作</th>
						<th data-num="9">企业名称</th>
						<th data-num="10">企业编码</th>
						<th data-num="11">服务月份</th>
						<th data-num="15">交接清单</th>
						<th data-num="13">负责人</th>
						<th data-num="1">审批号码</th>
						<th data-num="3">提交员工</th>
						<th data-num="4">提交时间</th>
						<th data-num="5">审批员工</th>
						<th data-num="6">审批结果</th>
						<th data-num="7">审批时间</th>
						<th data-num="8">审批回复</th>
					</tr>
				</thead>
				<tbody id="datalist">

				</tbody>
			</table>
		</div>
		<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
			<div align="left" style="padding-left: 15px; float: left; width: 10%;" id="num"></div>
			<!--<div id="pagination" style="float: left; width: 80%; height: 25px;"></div>-->
			<div id="pageBar" class="pagination"></div>
			<div align="right" style="float: right;  width: 10%;">
				<select style="width: 100px;" id="changePageNum">
					<option value="10">每页10条</option>
					<option value="20">每页20条</option>
					<option value="50">每页50条</option>
					<option value="100">每页100条</option>
					<option value="200">每页200条</option>
				</select>
			</div>
		</div>
	</div>

	<div class="auditGetList-popup" style="display:none;">
        <div class="widget-header widget-header-small" style="padding-left:0;">
            <span style="font-size:16px;" class="title">交接清单</span>
        </div>
        <div class="evidence" style="display:none;">
            <h5 style="text-align:center;">凭证交接</h5>
            <table>
                <thead>
                    <tr>
                        <th>凭证月份</th>
                        <th>凭证名称</th>
                        <th>数量(本)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="month">
                            <span></span>
                        </td>
                        <td>
                            <span></span>
                        </td>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bill" style="display:none;">
            <h5 style="text-align:center;">票据交接</h5>
            <table>
                <thead>
                    <tr>
                        <th>票据类别</th>
                        <th>数量(张)</th>
                        <th>金额(元)</th>
                    </tr>
                </thead>
                <tbody id="ticketBody">
                    <tr>
                        <td>
                            <span></span>
                        </td>
                        <td>
                            <span></span>
                        </td>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="certificate" style="display:none;">
            <h5 style="text-align:center;">证件交接</h5>
            <table>
                <thead>
                    <tr>
                        <th>证件名称</th>
                        <th>数量(个)</th>
                    </tr>
                </thead>
                <tbody id="cardBody">
                    <tr>
                        <td>
                            <span></span>
                        </td>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

	<div class="label_popup" id="feedBack" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;">
		<div style="width:400px;margin:39px auto;z-index:1060;background:#fff;position:relative;border:1px solid #ddd;
	    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);">
			<div style="padding:15px;border-bottom:1px solid #ddd;">
				<span style="display: inline-block;">请填写驳回原因</span>
				<a href="javascript:;" class="close_label" style="float: right;"><i class="fa fa-times" aria-hidden="true"></i></a>
			</div>
			<div style="padding: 10px 50px;">
				<input type="text" width="200px" style="margin: auto;" id="labelName" />
				<!--<hr>-->
			</div>
			<div style="padding:15px;text-align:right;">
				<button class="close_label">关闭</button>
				<button class="hold">保存</button>
			</div>
		</div>
	</div>
		{% include 'admin/customerDetail.html' %} {% include 'admin/mark.html' %}
</div>
<script src="/resource/adimin/assets/js/src/public.js"></script>
<script type="text/javascript">
	$(function() {
		if(cs.approve_authority({name:'送单',nodes:[198]})){
            $('[contentAuthority="198"]').show();
        }

		var order ='spm_approves.approve_result asc,spm_approves.id desc';
		var pagesize = 10;
		clickBtn()
		//点击顶部  按钮时调用
		function clickBtn() {
			$('#topTool').on('click', 'a', function(item) {
				if (!$(this).hasClass('clc')) {
                    $(this).addClass('clc').siblings().removeClass('clc');
                }
				var status = $(this).attr('data-status');
				$(this).addClass('active').siblings().removeClass('active');
				var keyWords = [];
				$('.search-input').each(function(i,e){
					if($(this).val().trim()){
						keyWords.push($(this).attr('sear') + ' like \'%' + $(this).val().trim() + '%\'');
					}
				});
				if($('#search').attr('searStatsus')) {
					getList('', status, keyWords); //已搜索点击状态
				} else {
					getList('', status); //未搜索点击状态
				}
				return false;
			})
		}

		$('#flush').click(function(){
			getList();
		})
		$('#filterBtns a').mouseover(function(){
            $(this).addClass('over');
        })
        $('#filterBtns a').mouseout(function(){
            $(this).removeClass('over');
        })

		$('#plSp').click(function() {
			var idArr = [],
				n = 0;

			$('#datalist').find('input[type="checkbox"]:checked').each(function(i) {
				//console.log($(this).parents('tr').attr('data-id'));
				//console.log($(this).parents('tr').attr('status'));
				if($(this).parents('tr').attr('status') == 1) {
					idArr.push($(this).parents('tr').attr('data-id'));
				}
				n += 1;
			})
			if(n == 0) {
				ykp.prompt('没有选中审批信息！');
				return false;
			}
			var data = {
				url:'/api/api_approves/edit_status',
				methods:'post',
				data:{
					
				}
			}
		})

		doSearch();

		function doSearch() {
			$('#search').click(function() {
				$(this).attr('searStatsus', true);
				var n = 0; //选中的数量
				var w = ''; //选中的状态
				$('#topTool a').each(function() {
					if($(this).hasClass('active')) {
						n += 1;
						w = $(this).attr('data-status');
					}
				})
				var keyWords = [];
				$('.search-input').each(function(i,e){
					if($(this).val().trim()){
						keyWords.push($(this).attr('sear') + ' like \'%' + $(this).val().trim() + '%\'');
					}
				});
				if(keyWords.length <= 0 ){
					ykp.prompt('请输入至少一个搜索条件');
					return;
				}
				if(n == 0) {
					getList('', '', keyWords);
				} else {
					if(w != 'all') {
						getList('', w, keyWords);
					} else {
						getList('', '', keyWords);
					}
				}
			})
		}
		
		$('#changePageNum').change(function() {
			if(!cs.getSpStatus('送单')) {
				ykp.prompt('暂时没有开启审批功能');
				return false;
			}
			pagesize = $(this).val();
			var n = 0; //选中的数量
				var w = ''; //选中的状态
				$('#topTool a').each(function() {
					if($(this).hasClass('active')) {
						n += 1;
						w = $(this).attr('data-status');
					}
				})
				var keyWords = [];
				$('.search-input').each(function(i,e){
					if($(this).val().trim()){
						keyWords.push($(this).attr('sear') + ' like \'%' + $(this).val().trim() + '%\'');
					}
				});
				if(n == 0) {
					getList('', '', keyWords);
				} else {
					if(w != 'all') {
						getList('', w, keyWords);
					} else {
						getList('', '', keyWords);
					}
				}
//			getCustomerList(1);
		})

		getList();

		function getList(current, clickstatus, keyWords) {
			if(!cs.getSpStatus('送单')) {
				ykp.prompt('暂时没有开启审批功能');
				return false;
			}
			current = current ? current : 1;
			var data = {
				page_size: pagesize,
				current: current,
				type: 7,
				order:order
			}
			//判断是否有过滤   
			if(clickstatus && !isNaN(clickstatus)) {
				data.approve_result = clickstatus;
			}
			if(keyWords) {
				data.search = keyWords
			}
			cs.spList(data, function(res) {
				var data = res.data.items;
				if(data.length == 0) {
					setTimeout(function(){
						ykp.prompt('暂无数据！');
					},1000);
					$('#datalist').html('<tr><td colspan="30"><div class="table-actions clearfix"></div> <div style="color:#7d7d7d !important;text-align:center !important;" class="page">暂无数据</div></td></tr>');
				} else {
					//审批权限为true可以审批,为false不可审批
                    var spApp = cs.approve_authority({name:'送单',nodes:[199]});
                    var cxApp = cs.approve_authority({name:'送单',nodes:[261]});

                    var styles = [];
                    $('#dynamic-table th').each(function(i,e){
                        styles.push($(this).css('display'));
                    });

					var status = ['','待审核', '审核通过', '审核失败']; //审核状态
					var statusColor = ['','#dfba49', '#45b6af', '#f3565d']
					var content = '';
					for(var i in data) {
						
						content += `<tr data-id="${data[i]['spm_approves.id']}" status="${data[i].approve_result}">
								 <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" name="check" class="ace"/>
                                    <span class="lbl"></span>
                                </label>
                            </td>
						 <td>
						 <label class="pos-rel">
                       <a href="#" class="sp btnGreen" data-status = "1" style="display: ${cxApp ? (data[i]['spm_approves.approve_result'] == 2 ? 'inline-block' : 'none') : 'none'};" contentAuthority="261"><i class="red2"></i>撤销</a>
                        <a href="#" class="sp redBlue" data-status = "2" style="display: ${spApp ? (data[i]['spm_approves.approve_result'] == 1 ?'inline-block' : 'none') : 'none'};" contentAuthority="199"><i class="red2"></i>审批</a>
                        <a href="#" class="sp btnGreen" data-status = "3" style="display: ${spApp ? (data[i]['spm_approves.approve_result'] == 1 ?'inline-block' : 'none') : 'none'};" contentAuthority="199"><i class="red2"></i>驳回</a>
                    	</label>
                    </td>
                    <td data-num="9" style="display:${styles[2]}" data-cid="${data[i]['spm_approves.customer_num']}">
                    	<a class="customerDetail pos-rel" href="#">${data[i].submitted_data['service_info']['khm_customer.name']}</a>
                    	<label class="pos-rel">
				 				<i class="iconBnt fa fa-info-circle" data-rel="tooltip" data-placement="right" data-html="true" title="${cs.getRemark(data[i]['Remark'])}" ></i>
			 				 </label>
                    </td>
                    <td data-num="10" style="display:${styles[3]}">${data[i].submitted_data['service_info']['khm_customer.id']}</td>
                    <td data-num="11" style="display:${styles[4]}">${data[i].submitted_data['service_info']['jzm_service_info.time']}</td>
                    <td data-num="15" style="display:${styles[5]}"> <a handover-id="${data[i].submitted_data['service_info']['jzm_service_info.id']}" style="text-decoretion:none;" class="handover">查看</a> </td>
                    <td data-num="13" style="display:${styles[6]}">${data[i].submitted_data['service_info']['jzm_service_info.fuze_id']}</td>
                    <td data-num="1" style="display:${styles[7]}">${data[i]['spm_approves.approve_code']}</td>
                    <td data-num="3" style="display:${styles[8]}">${data[i]['spm_approves.submit_employee_name']}</td>
                    <td data-num="4" style="display:${styles[9]}">${cs.getNowTime(data[i]['spm_approves.submit_time'])}</td>
                    <td data-num="5" style="display:${styles[10]}">${data[i]['spm_approves.approve_employee_name']}</td>
                    <td data-num="6" style="display:${styles[11]}"><label class="label" style=" background:${statusColor[data[i]['spm_approves.approve_result']]} ">${status[data[i]['spm_approves.approve_result']]}</label></td>
                    <td data-num="7" style="display:${styles[12]}">${data[i]['spm_approves.approve_time'] != 0 ? cs.getNowTime(data[i]['spm_approves.approve_time']) : ''}</td>
                    <td data-num="8" style="display:${styles[13]}">${data[i]['spm_approves.approve_reply']}</td>
                   
                </tr>`;
					}

					$('#datalist').html(content);

					custom.get_custom_info();
					$("[data-rel='tooltip']").tooltip();
					custom.showReamrk();
					//交接清单查看
					handover();

					$("#datalist tr").find('.sp').click(function() {
						var status = $(this).attr('data-status');
						var id = $(this).parents('tr').attr('data-id');
						if(status != '0') {
							changeStatus(status,id);
						}
					})

				}
			},'送单')
			
			//交接清单查看
			function handover(){
				$('.handover').click(function(){
					var month = $(this).parent().prev().prev().text().substring(4);
					var id = $(this).attr('handover-id');
					showMark('.auditGetList-popup');

					ykp.doAjax({
						url: '/api/api_service/get_acquiring_list',
						methods: 'post',
						data: {
							service_id: id
						},
						success:function(res){
							if(res.code == 200){
								if(res.data && res.data.length > 0){
									var data = res.data;
									var index = 0;
									var _index = 0;
									for(var i in data){
										if(data[i]['jzm_acquiring_cate.type'] == 1){
											$('#templateCon .evidence').show();
											$('#templateCon .evidence tbody span').eq(0).html(month);
											$('#templateCon .evidence tbody span').eq(1).html(data[i]['jzm_acquiring_details.name']);
											$('#templateCon .evidence tbody span').eq(2).html(data[i]['jzm_acquiring_details.num']);
										}
										if(data[i]['jzm_acquiring_cate.type'] == 2){
											if(++index == 1){
												$('#templateCon .bill').show();
												$('#templateCon .bill #ticketBody span').eq(0).html(data[i]['jzm_acquiring_cate.name']);
												$('#templateCon .bill #ticketBody span').eq(1).html(data[i]['jzm_acquiring_details.num']);
												$('#templateCon .bill #ticketBody span').eq(2).html(data[i]['jzm_acquiring_details.money']);
											} else 
												$('#templateCon .bill #ticketBody').append(
													`<tr>
														<td>
															<span>${data[i]['jzm_acquiring_cate.name']}</span>
														</td>
														<td>
															<span>${data[i]['jzm_acquiring_details.num']}</span>
														</td>
														<td>
															<span>${data[i]['jzm_acquiring_details.money']}</span>
														</td>
													</tr>`
												);
										} 
										if(data[i]['jzm_acquiring_cate.type'] == 3){
											if(++_index == 1){
												$('#templateCon .certificate').show();
												$('#templateCon .certificate #cardBody span').eq(0).html(data[i]['jzm_acquiring_details.name']);
												$('#templateCon .certificate #cardBody span').eq(1).html(data[i]['jzm_acquiring_details.num']);
											} else
												$('#templateCon .certificate #cardBody').append(
													`<tr>
														<td>
															<span>${data[i]['jzm_acquiring_details.name']}</span>
														</td>
														<td>
															<span>${data[i]['jzm_acquiring_details.num']}</span>
														</td>
													</tr>`
												);
										}  
									}
								}
							}
						}
					})
				});
			}

			function changeStatus(status,id) {
				
				var data = {
					url:'/api/api_approves/edit_status',
					methods:'post',
					data:{
						id:id,
						approve_result:status
					}
				}
				if(status == 3) {
					$('#feedBack').show();
					$('#feedBack .hold').click(function() {
						var approve_reply = $('#feedBack').find('input').val();
						if(approve_reply == '') {
							ykp.prompt('不能为空！');
							return false;
						}
						data.data.approve_reply = approve_reply.trim();
						data.data.approve_reply = approve_reply;
						setStatus(data);
						$('.close_label').parents('.label_popup').fadeOut();
					})
					cs.closePop();
				} else if(status == 1){
                    bootbox.confirm('确认撤销审批？', function(flag){
                        if(flag){
                            setStatus(data);
                        }
                    })
                 } else {
					setStatus(data);
				}
				
			}
		}

		//自定义table
		cs.custorm_check('#dynamic-table', '#datalist', true);
		
		function setStatus(data) {
			ykp.doAjax({
				url:data.url,
				methods:data.methods,
				data:data.data,
				success:function(res) {
					ykp.prompt('审批成功!');
					getList();
				}
			})
//			cs.doAjax(data,function(res) {
//				
//			})
		}

	});

	function checkAll(status) {
		$("tbody input[name='check']").each(function(i, n) {
			n.checked = status;
		});
	}
</script>