<div class="widget-main">
	<div class="row">
		<h3 class="header smaller lighter blue">支出审批</h3>
		<div class="actions" id="topTool">
			<div class="portlet">
				<div class="search">
					<i class="search-icon"></i>
					<input type="text" class="search-input" placeholder="搜索...">
				</div>
			</div>
			<button  class="btn btn-info btn-sm" style="height: 34px;">搜索</button>
			<a href="#" class="see-all"><i class="fa fa-eye"></i></i> 查看全部</a>
			<a href="#" class="approval-pending"><i class="fa fa-hourglass-2"></i> 待审批</a>
			<a href="#" class="passed"><i class="fa fa-check"></i> 已通过</a>
			<a href="#" class="not-pass"><i class="fa fa-minus-circle"></i> 未通过</a>
		</div>
		<div class="auditing-data custom_table">
			<table id="dynamic-table">
				<thead>
					<tr class="thColor">
						<th data-num="1">审批号</th>
						<th data-num="2">审批项目</th>
						<th data-num="3">提交员工</th>
						<th data-num="4">提交时间</th>
						<th data-num="5">审批员工</th>
						<th data-num="6">审批结果</th>
						<th data-num="7">审批时间</th>
						<th data-num="8">审批回复</th>
						<th data-num="9">操作</th>
					</tr>
				</thead>
				<tbody id="datalist">

				</tbody>
			</table>
		</div>
		<div align="center">
			<div id="pagination"></div>
		</div>
	</div>
</div>
<script src="/resource/adimin/assets/js/src/public.js"></script>
<script type="text/javascript">
	$(function() {
		//自定义table
		cs.custorm_check('#dynamic-table', '#datalist', false);

		//分页
		cs.setPagination('#pagination', 5, 50, 5, getPageList);

		function getPageList(current) {
			console.log(current);
		}
	});
</script>