<div class="widget-main">
	<div class="row">
		<h3 class="header smaller lighter blue">合同审批</h3>
		<div class="actions" id="topTool">
			<div class="portlet">
				<div class="search">
					<input type="text" class="search-input" sear="approve_code" maxlength="15" placeholder="审批编码">
				</div>
			</div>
			<div class="portlet">
				<div class="search">
					<input type="text" class="search-input" sear="khm_customer.name" maxlength="15" placeholder="企业名称">
				</div>
			</div>
			<div class="portlet">
				<div class="search">
					<input type="text" class="search-input" sear="khm_customer.id" maxlength="15" placeholder="企业编码">
				</div>
			</div>
			<button id="search"  class="btn btn-info btn-sm" style="height: 34px;">搜索</button>
			<a href="#" class="see-all" data-status="all"><i class="fa fa-eye"></i></i> 查看全部</a>
			<a href="#" class="approval-pending" data-status="1"><i class="fa fa-hourglass-2"></i> 待审批</a>
			<a href="#" class="passed" data-status="2"><i class="fa fa-check"></i> 已通过</a>
			<a href="#" class="not-pass" data-status="3"><i class="fa fa-minus-circle"></i> 未通过</a>

			<button id="plSp" class="btn btn-info btn-sm">批量审批</button>
		</div>
		<div class="auditing-data custom_table">
			<table id="dynamic-table">
				<thead>
					<tr class="thColor">
						<th class="center">
							<label class="pos-rel">
	                                            <input type="checkbox" class="ace" onclick="checkAll(this.checked)"/>
	                                            <span class="lbl"></span>
	                                        </label>
						</th>
						<th>操作</th>
						<th data-num="9">企业名称</th>
						<th data-num="10">订单编号</th>
						<th data-num="11">合同编码</th>
						<th data-num="12">服务项目</th>
						<th data-num="13">合同金额</th>
						<th data-num="14">营销员</th>
						<th data-num="15">签约员</th>
						<th data-num="16">签约时间</th>
						<th data-num="17">开始时间</th>
						<th data-num="18">截止时间</th>
						<th data-num="1">审批号码</th>
						<th data-num="2">审批项目</th>
						<th data-num="3">提交员工</th>
						<th data-num="4">提交时间</th>
						<th data-num="5">审批员工</th>
						<th data-num="6">审批结果</th>
						<th data-num="7">审批时间</th>
						<th data-num="8">审批回复</th>

					</tr>
				</thead>
				<tbody id="datalist">

				</tbody>
			</table>
		</div>
		<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
			<div align="left" style="padding-left: 15px; float: left; width: 10%;" id="num"></div>
			<!--<div id="pagination" style="float: left; width: 80%; height: 25px;"></div>-->
			<div id="pageBar" class="pagination"></div>
			<div align="right" style="float: right;  width: 10%;">
				<select style="width: 100px;" id="changePageNum">
					<option value="10">每页10条</option>
					<option value="20">每页20条</option>
					<option value="50">每页50条</option>
					<option value="100">每页100条</option>
					<option value="200">每页200条</option>
				</select>
			</div>
		</div>
	</div>
	
	<div class="label_popup" id="feedBack" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;">
			<div style="width:400px;margin:39px auto;z-index:1060;background:#fff;position:relative;border:1px solid #ddd;
		    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);">
				<div style="padding:15px;border-bottom:1px solid #ddd;">
					<span style="display: inline-block;">填写审批回复</span>
					<a href="javascript:;" class="close_label" style="float: right;"><i class="fa fa-times" aria-hidden="true"></i></a>
				</div>
				<div style="padding: 10px 50px;">
					<input type="text" width="200px" style="margin: auto;" id="labelName" />
					<!--<hr>-->
				</div>
				<div style="padding:15px;text-align:right;">
					<button class="close_label">关闭</button>
					<button class="hold">保存</button>
				</div>
			</div>
		</div>
</div>
<script src="/resource/adimin/assets/js/src/public.js"></script>
<script type="text/javascript">
	$(function() {
		var pagesize = 10;
		clickBtn()
		//点击顶部  按钮时调用
		function clickBtn() {
			$('#topTool').on('click', 'a', function(item) {
				var status = $(this).attr('data-status');
				$(this).addClass('active').siblings().removeClass('active');
				var keyWords = $('.search-input').val();
				if($('#search').attr('searStatsus')) {
					getList('', status, keyWords); //已搜索点击状态
				} else {
					getList('', status); //未搜索点击状态
				}
				return false;
			})
		}

		$('#plSp').click(function() {
			var idArr = [],
				n = 0;

			$('#datalist').find('input[type="checkbox"]:checked').each(function(i) {
				console.log($(this).parents('tr').attr('data-id'));
				console.log($(this).parents('tr').attr('status'));
				if($(this).parents('tr').attr('status') == 1) {
					idArr.push($(this).parents('tr').attr('data-id'));
				}
				n += 1;
			})
			if(n == 0) {
				ykp.prompt('没有选中审批信息！');
				return false;
			}
			console.log(idArr)
			var data = {
				url:'/api/api_approves/edit_status',
				methods:'post',
				data:{
					
				}
			}
		})

		doSearch();

		function doSearch() {
			$('#search').click(function() {
				$(this).attr('searStatsus', true);
				var n = 0; //选中的数量
				var w = ''; //选中的状态
				$('#topTool a').each(function() {
					if($(this).hasClass('active')) {
						n += 1;
						w = $(this).attr('data-status');
					}
				})
				var keyWords = $('.search-input').val();
				if(n == 0) {
					getList('', '', keyWords);
				} else {
					if(w != 'all') {
						getList('', w, keyWords);
					} else {
						getList('', '', keyWords);
					}
				}
			})
		}
		
		$('#changePageNum').change(function() {
			pagesize = $(this).val();
			var n = 0; //选中的数量
				var w = ''; //选中的状态
				$('#topTool a').each(function() {
					if($(this).hasClass('active')) {
						n += 1;
						w = $(this).attr('data-status');
					}
				})
				var keyWords = $('.search-input').val();
				if(n == 0) {
					getList('', '', keyWords);
				} else {
					if(w != 'all') {
						getList('', w, keyWords);
					} else {
						getList('', '', keyWords);
					}
				}
//			getCustomerList(1);
		})

		getList();

		function getList(current, clickstatus, keyWords) {
			current = current ? current : 1;
			var data = {
				page_size: pagesize,
				current: current,
				type: 1
			}
			//判断是否有过滤   
			if(clickstatus && !isNaN(clickstatus)) {
				data.approve_result = clickstatus;
			}
			if(keyWords) {
				data.search = keyWords
			}
			cs.spList(data, function(res) {
				var data = res.data.items;
				if(data.length == 0) {
					 setTimeout(function(){
                        ykp.prompt('暂无数据！');
                    },1000);
					$('#datalist').html('<tr align="center">暂无数据</tr>')
				} else {
					var status = ['待审核', '审核通过', '审核失败']; //审核状态
					var statusColor = ['#dfba49', '#45b6af', '#f3565d']
					var content = '';
					for(var i in data) {
						content += `<tr data-id="${data[i].id}" status="${data[i].approve_result}">
								 <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" name="check" class="ace"/>
                                    <span class="lbl"></span>
                                </label>
                            </td>
						 <td>
                    	&nbsp &nbsp
                        <a href="#" data-status = "1" style="display: ${data[i].approve_result == 2 ? 'inline-block' : 'none'};"><i class="red2"></i>撤销</a>
                        <a href="#" data-status = "2" style="display: ${data[i].approve_result == 1 ?'inline-block' : 'none'};"><i class="red2"></i>审批</a>
                    	 &nbsp &nbsp
                    	 <a href="#" data-status = "3" style="display: ${data[i].approve_result == 1 ?'inline-block' : 'none'};"><i class="red2"></i>驳回</a>
                    </td>
                    <td data-num="9">${data[i].submitted_data['khm_customer.name']}</td>
                    <td data-num="10">${data[i].submitted_data['htm_contract.contract_code']}</td>
                    <td data-num="11">${data[i].submitted_data['htm_contract.service_items']}</td>
                    <td data-num="12">${data[i].submitted_data['htm_contract.service_items']}</td>
                    <td data-num="13">${data[i].submitted_data['htm_contract.contract_amount']}</td>
                    <td data-num="14">${cs.getNowTime(data[i].submitted_data['htm_contract.market_name']) + '~' + cs.getNowTime(data[i].submitted_data['htm_contract.end_time'])}</td>
                    <td data-num="15">${cs.getNowTime(data[i].submitted_data['htm_contract.signed_time']) + '~' + cs.getNowTime(data[i].submitted_data['htm_contract.end_time'])}</td>
                    <td data-num="16">${cs.getNowTime(data[i].submitted_data['htm_contract.start_time'])}</td>
                    <td data-num="17">${cs.getNowTime(data[i].submitted_data['htm_contract.end_time'])}</td>
                    <td data-num="18">${data[i].approve_code}</td>
                    <td data-num="1">${data[i].approve_code}</td>
                    <td data-num="2"> ${data[i].approve_type}</td>
                    <td data-num="3"><a href="#">${data[i].submit_employee_name}</a></td>
                    <td data-num="4">${cs.getNowTime(data[i].submit_time)}</td>
                    <td data-num="5"><a href="#">${data[i].approve_employee_name}</a></td>
                    <td data-num="6"><label class="label" style=" background:${statusColor[data[i].approve_result-1]} ">${status[data[i].approve_result-1]}</label></td>
                    <td data-num="7">${cs.getNowTime(data[i].approve_time)}</td>
                    <td data-num="8">${data[i].approve_reply}</td>
                   
                </tr>`;
					}

					$('#datalist').html(content);
					//分页
//					cs.setPagination('#pagination', 5, res.data.totalCount, 5, getList);

					$("#datalist tr").find('a').click(function() {
						var status = $(this).attr('data-status');
						var id = $(this).parents('tr').attr('data-id');
						if(status) {
							changeStatus(status,id);
						} else {
							alert('查看详情');
						}
					})

				}
			})
			
			function changeStatus(status,id) {
				
				var data = {
					url:'/api/api_approves/edit_status',
					methods:'post',
					data:{
						id:id,
						approve_result:status
					}
				}
				if(status == 3) {
					$('#feedBack').show();
					$('#feedBack .hold').click(function() {
						var approve_reply = $('#feedBack').find('input').val();
						if(approve_reply == '') {
							ykp.prompt('不能为空！');
							return false;
						}
						data.data.approve_reply = approve_reply.trim();
						data.data.approve_reply = approve_reply;
						setStatus(data);
						$('.close_label').parents('.label_popup').fadeOut();
					})
					cs.closePop();
				}else {
					setStatus(data);
				}
				
			}
		}

		//自定义table
		cs.custorm_check('#dynamic-table', '#datalist', true);
		
		function setStatus(data) {
			ykp.doAjax({
				url:data.url,
				methods:data.methods,
				data:data.data,
				success:function(res) {
					ykp.prompt('审批成功!');
					getList();
				}
			})
//			cs.doAjax(data,function(res) {
//				
//			})
		}

	});

	function checkAll(status) {
		$("tbody input[name='check']").each(function(i, n) {
			n.checked = status;
		});
	}
</script>