<style>
	#showBox {
		min-width: 400px;
	}
	
	#showBox td {
		height: 30px;
		line-height: 30px;
	}
	
	#taxCharge thead tr th {
		border-width: 1px
	}
	
	#taxCharge thead tr.h_boder th {
		border-bottom-width: 2px;
	}
	
	#taxCharge thead tr th.ht_boder {
		border-bottom-width: 2px;
	}

	#shortPeriod thead tr th {
		border-width: 1px
	}
	
	#shortPeriod thead tr.h_boder th {
		border-bottom-width: 2px;
	}
	
	#shortPeriod thead tr th.ht_boder {
		border-bottom-width: 2px;
	}
	
	#tableChange {
		list-style: none;
		margin-left: 0;
		height: 42px;
		border-bottom: 1px #d5e3ef solid;
	}
	
	#tableChange li {
		cursor: pointer;
		padding: 10px 15px;
		border-right: 1px #fff solid;
		border-left: 1px #fff solid;
		border-top: 1px #fff solid;
	}
	
	#tableChange li.act {
		border-top-color: #4C8FBD;
		border-right: 1px solid #C5D0DC;
		border-bottom: 1px solid #fff;
		border-left: 1px solid #C5D0DC;
	}
	
	#templateBox .statistics_tit {
		list-style: none;
		margin-left: 0;
		border-bottom: 1px #d5e3ef solid;
	}
	
	#templateBox .statistics_tit li {
		float: left;
		padding: 10px 20px;
		cursor: pointer;
	}
	
	#templateBox .statistics_tit li.acti {
		position: relative;
		top: 1px;
		border-top: 1px solid #C5D0DC;
		;
		border-right: 1px solid #C5D0DC;
		border-bottom: 1px solid #e6ecf2;
		border-left: 1px solid #C5D0DC;
	}
	
	#templateBox .form-horizontal .form-group {
		margin: 0;
	}
	
	#templateBox .form-horizontal .form-group input {
		width: 100%;
		line-height: normal !important;
	}
	
	#templateBox .form-horizontal .form-group div {
		width: 114px;
	}
	
	#templateBox .form-horizontal .ite_tit {
		font-size: 15px;
		font-weight: bold;
	}
	
	#templateCon label {
		width: 72px;
	}
	
	#templateCon .fr,
	#templateCon .fl {
		float: left;
	}
	
	#templateCon .fr {
		margin-left: 15px !important;
	}
	
	#templateCon .col-sm-9 {
		padding-left: 0;
	}
	
	#templateCon .content label {
		width: 95px;
	}
	
	#templateCon .content input {
		width: 114px;
	}
	
	#templateCon .content {
		width: 426px;
	}
	
	#templateCon .thColor {
		color: #000;
		font-size: xx-small;
	}
	
	.table>thead>tr>th:last-child {
		border-right-color: inherit;
	}
	
	.check {
		padding: 2px 6px;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 3px;
		border-color: #46b8da;
		top: -1px;
		color: white;
		/*background-color: #6FB3E0 !important;*/
	}
	
	#templateCon table {
		min-width: 823px;
	}


</style>
<div class=" widget-main">
	<div class="row">
		<div class="col-lg-12">
			<!-- <h3 class="header smaller lighter  blue">员工绩效</h3> -->
			<ul id="tableChange" class="clear">
				<li class="fl act">记账报税</li>
				<li class="fl">短期业务</li>
			</ul>
			<div class="row" style="margin-top: 20px;" id="topTool">
				<div class="col-sx-4" style=" float: left;margin-right: 5px;">
					<select pts=1 sear="month" class="monthList">
						<option value=""> 请选择月份 </option>
						<option value="01"> 2017.01 </option>
						<option value="02"> 2017.02 </option>
						<option value="03"> 2017.03 </option>
						<option value="04"> 2017.04 </option>
						<option value="05"> 2017.05 </option>
						<option value="06"> 2017.06 </option>
						<option value="07"> 2017.07 </option>
						<option value="08"> 2017.08 </option>
						<option value="09"> 2017.09 </option>
						<option value="10"> 2017.10 </option>
						<option value="11"> 2017.11 </option>
						<option value="12"> 2017.12 </option>
					</select>
				</div>
				<div class="col-sx-4" style=" float: left;margin-right: 5px;">
					<!--<input type="text" pts=1 placeholder="员工" sear="name">-->
					<select style="margin: 12px !important;width: 180px"  pts=1  sear="name" class="advandced-search select2-hidden-accessible" tabindex="-1" data-type="gj" aria-hidden="true">
						<option value=""> 员工<br /> </option>
					</select>
				</div>
				<div class="col-sx-4" style=" float: left;margin-right: 5px;">
					<button type="button" id="search" title="搜索" class="btn btn-info btn-sm">
                            <i class="fa fa-search"></i>
                        </button>
				</div>

			</div>
			<div class="custom_table">
				<table id="taxCharge">
					<thead>
						<tr style="height: 50px;" class="thColor">
							<th colspan="26" class="gs" style="text-align: center !important;"></th>
						</tr>
						<tr class="thColor">
							<th class="center ht_boder" style="text-align: center !important;" colspan="2" rowspan="2">操作</th>
							<!--<th class="center ht_boder" rowspan="2">提成复核</th>-->
							<th class="center ht_boder " rowspan="2">员工</th>
							<th class="center" colspan="2" style="text-align: center !important;">收单</th>
							<th class="center" colspan="2" style="text-align: center !important;">整单</th>
							<th class="center" colspan="2" style="text-align: center !important;">记账</th>
							<th class="center" colspan="2" style="text-align: center !important;">客服</th>
							<th class="center" colspan="2" style="text-align: center !important;">报税</th>
							<th class="center" colspan="2" style="text-align: center !important;">送单</th>
							<th class="center ht_boder" rowspan="2">提成总额</th>

						</tr>
						<tr class="h_boder thColor">
							<th class="center">小规模</th>
							<th class="center">一般纳税人</th>
							<th class="center">小规模</th>
							<th class="center">一般纳税人</th>
							<th class="center">小规模</th>
							<th class="center">一般纳税人</th>
							<th class="center">小规模</th>
							<th class="center">一般纳税人</th>
							<th class="center">小规模</th>
							<th class="center">一般纳税人</th>
							<th class="center">小规模</th>
							<th class="center">一般纳税人</th>
						</tr>
						<tr id="tcPrice" >
							<th style="text-align: right !important;" class="center">
								<div >
									<a style="display:none;cursor: pointer;color: #fff !important;"  class="priceEdit btBlue" title="编辑单价"><i class="fa fa-pencil-square-o"></i></a>
								</div>
							</th>
							<th class="center"></th>
							<th class="center"></th>
							<th style="text-align: right !important;"><span class="sdsval"></span></th>
							<th style="text-align: right !important;"><span class="sdyval"></span></th>
							<th style="text-align: right !important;"><span class="zdsval"></span></th>
							<th style="text-align: right !important;"><span class="zdyval"></span></th>
							<th style="text-align: right !important;"><span class="cdsval"></span></th>
							<th style="text-align: right !important;"><span class="cdyval"></span></th>
							<th style="text-align: right !important;"><span class="kfsval"></span></th>
							<th style="text-align: right !important;"><span class="kfyval"></span></th>
							<th style="text-align: right !important;"><span class="bssval"></span></th>
							<th style="text-align: right !important;"><span class="bsyval"></span></th>
							<th style="text-align: right !important;"><span class="sodsval"></span></th>
							<th style="text-align: right !important;"><span class="sodyval"></span></th>
							<th style="text-align: right !important;"></th>
						</tr>
					</thead>
					<tbody id="dataList">
					</tbody>
				</table>
				<table id="shortPeriod" style="display:none;">
					<thead>
						<tr style="height: 50px;" class="thColor">
							<th colspan="26" class="gs" style="text-align: center !important;"></th>
						</tr>
						<tr class="thColor">
							<th class="center">操作</th>
							<!--<th class="center">提成复核</th>-->
							<th class="center ht_boder _employee">员工</th>
							<th class="center">提成总额</th>
						</tr>
						<tr id="tcPrice1">
							<th class="center" >
								<div contentAuthority="247"><a style="display:none;cursor: pointer;color:#fff !important;" class="priceEdit1 btBlue" title="编辑单价"><i class="fa fa-pencil-square-o"></i></a></div>
							</th>
							<!--<th class="center"></th>-->
							<th class="center _percentage"></th>
							<th class="center"></th>
						</tr>
					</thead>

					<tbody id="dataList1">
					</tbody>
				</table>
			</div>
			<div align="center" style="margin-top: 20px; margin-bottom: 20px;">
				<div align="left" style="padding-left: 15px; float: left; width: 10%;" class="_num"></div>
				<!--<div id="pagination" style="float: left; width: 80%; height: 25px;"></div>-->
				<div class="pageBar pagination"></div>
				<div align="right" style="float: right;  width: 10%;">
					<select style="width: 100px;" class="changePageNum">
						<option value="10">每页10条</option>
						<option value="20">每页20条</option>
						<option value="50">每页50条</option>
						<option value="100">每页100条</option>
						<option value="200">每页200条</option>
					</select>
				</div>
			</div>
		</div>

		<div id="template" style="display:none;">
			<div class="widget-box">
				<form class="form-horizontal" role="form">
					<div class="ite_tit"> 收单： </div>
					<div class="item-row clear">
						<div class="fl form-group">
							<label class="control-label col-xs-12  col-sm-3 no-padding-left ">
                                    小规模： </label>
							<div class="col-sm-9">
								<span class="input-icon">
                                    <input name="edtdata1" class="edit0" type="text">
                                </span>
							</div>
						</div>
						<div class="fr form-group">
							<label class="control-label col-xs-12  col-sm-3 no-padding-left ">
                                    一般纳税人： </label>
							<div class="col-sm-9">
								<span class="input-icon">
                                    <input name="edtdata2" class="edit1" type="text">
                                </span>
							</div>
						</div>
					</div>
					
					<div class="ite_tit"> 整单： </div>
					<div class="item-row clear">
						<div class="fl form-group">
							<label class="control-label col-xs-12  col-sm-3 no-padding-left ">
                                    小规模： </label>
							<div class="col-sm-9">
								<span class="input-icon">
                                    <input name="edtdata5" class="edit4" type="text">
                                </span>
							</div>
						</div>
						<div class="fr form-group">
							<label class="control-label col-xs-12  col-sm-3 no-padding-left ">
                                    一般纳税人： </label>
							<div class="col-sm-9">
								<span class="input-icon">
                                    <input name="edtdata6" class="edit5" type="text">
                                </span>
							</div>
						</div>
					</div>
					<div class="ite_tit"> 记账： </div>
					<div class="item-row clear">
						<div class="fl form-group">
							<label class="control-label col-xs-12  col-sm-3 no-padding-left ">
                                    小规模： </label>
							<div class="col-sm-9">
								<span class="input-icon">
                                    <input name="edtdata7" class="edit6" type="text">
                                </span>
							</div>
						</div>
						<div class="fr form-group">
							<label class="control-label col-xs-12  col-sm-3 no-padding-left ">
                                    一般纳税人： </label>
							<div class="col-sm-9">
								<span class="input-icon">
                                    <input name="edtdata8" class="edit7" type="text">
                                </span>
							</div>
						</div>
					</div>
					<div class="ite_tit">客服：</div>
					<div class="item-row clear">
						<div class="fl form-group">
							<label class="control-label col-xs-12  col-sm-3 no-padding-left ">
                                    小规模： </label>
							<div class="col-sm-9">
								<span class="input-icon">
                                    <input name="edtdata9" class="edit8" type="text">
                                </span>
							</div>
						</div>
						<div class="fr form-group">
							<label class="control-label col-xs-12  col-sm-3 no-padding-left ">
                                    一般纳税人： </label>
							<div class="col-sm-9">
								<span class="input-icon">
                                    <input name="edtdata10" class="edit9" type="text">
                                </span>
							</div>
						</div>
					</div>
					<div class="ite_tit">报税：</div>
					<div class="item-row clear">
						<div class="fl form-group">
							<label class="control-label col-xs-12  col-sm-3 no-padding-left ">
                                    小规模： </label>
							<div class="col-sm-9">
								<span class="input-icon">
                                    <input name="edtdata11" class="edit10" type="text">
                                </span>
							</div>
						</div>
						<div class="fr form-group">
							<label class="control-label col-xs-12  col-sm-3 no-padding-left ">
                                    一般纳税人： </label>
							<div class="col-sm-9">
								<span class="input-icon">
                                    <input name="edtdata12" class="edit11" type="text">
                                </span>
							</div>
						</div>
					</div>
					<div class="ite_tit"> 送单： </div>
					<div class="item-row clear">
						<div class="fl form-group">
							<label class="control-label col-xs-12  col-sm-3 no-padding-left ">
                                    小规模： </label>
							<div class="col-sm-9">
								<span class="input-icon">
                                    <input name="edtdata3" class="edit2" type="text">
                                </span>
							</div>
						</div>
						<div class="fr form-group">
							<label class="control-label col-xs-12  col-sm-3 no-padding-left ">
                                    一般纳税人： </label>
							<div class="col-sm-9">
								<span class="input-icon">
                                    <input name="edtdata4" class="edit3" type="text">
                                </span>
							</div>
						</div>
					</div>
				</form>
				<!--保存按钮-->
				<div style="text-align:center;margin-top:15px;">
					<span class="msg" style="margin-left:calc(50% - 49px);float:left;line-height:34px;display:none;color:red;"></span>
					<button class="savebt sure_button">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                保存
                            </button>
				</div>
			</div>
		</div>

		<div class="row" id="template1" style="display:none;">

			<div class="content">
			</div>
			<div style="text-align:center;margin-top:15px;">
				<span class="msg" style="margin-left:calc(50% - 49px);float:left;line-height:34px;display:none;color:red;"></span>
				<button class="savebt sure_button">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        保存
                    </button>
			</div>
		</div>

		<div class="row" id="template2" style="display:none;">
			<div class="row">
				<ul class="statistics_tit clear">
					<li class="acti">收单</li>
					<li>整单</li>
					<li>记账</li>
					<li>客服</li>
					<li>报税</li>
					<li>送单</li>
				</ul>
				<div class="statistics_cont" style="margin-top:20px;">
					<div class="">
						<table class="custom_table">
							<thead>
								<tr class="thColor">
									<th class="center">公司名称</th>
									<th class="center">服务月份</th>
									<th class="center">仓位编码</th>
									<th class="center">服务方式</th>
									<th class="center">收单时间</th>
									<th class="center">员工</th>
									<th class="center">任务等级</th>
									<th class="center">结算状态</th>
									<th class="center">结算</th>
									<th class="center">结算时间</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="30">暂无数据</td>
								</tr>
								<!-- <tr>
                                        <td class="center">崔焕周</td>
                                        <td class="center">5月</td>
                                        <td class="center">5565656</td>
                                        <td class="center">未收</td>
                                        <td class="center">快递</td>
                                        <td class="center">17:15</td>
                                        <td class="center">张三</td>
                                        <td class="center"></td>
                                        <td class="center">2017-6-5</td>
                                    </tr> -->
							</tbody>
						</table>
						<div style="text-align:center;margin-top:15px;" contentAuthority="275">
							<button class="sure_button add">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    保存
                                </button>
						</div>
					</div>
					<div class="hidden">
						<table class="custom_table">
							<thead>
								<tr class="thColor">
									<th class="center">公司名称</th>
									<th class="center">服务月份</th>
									<th class="center">仓位编码</th>

									<th class="center">税务类型</th>
									<th class="center">整单时间</th>
									<th class="center">员工</th>
									<th class="center">任务等级</th>
									<th class="center">结算状态</th>
									<th class="center">结算</th>
									<th class="center">结算时间</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="30">暂无数据</td>
								</tr>
								<!-- tr>
                                    <td class="center">崔焕周</td>
                                    <td class="center">5月</td>
                                    <td class="center">5565656</td>
                                    <td class="center">未收</td>
                                    <td class="center">快递</td>
                                    <td class="center">17:15</td>
                                    <td class="center">张三</td>
                                    <td class="center"></td>
                                    <td class="center">2017-6-5</td>
                                </tr> -->
							</tbody>
						</table>
						<div style="text-align:center;margin-top:15px;" contentAuthority="275">
							<button class="sure_button add">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    保存
                                </button>
						</div>
					</div>
					<div class="hidden">
						<table class="custom_table">
							<thead>
								<tr class="thColor">
									<th class="center">公司名称</th>
									<th class="center">服务月份</th>
									<th class="center">仓位编码</th>

									<th class="center">税务类型</th>
									<th class="center">做账时间</th>
									<th class="center">员工</th>
									<th class="center">任务等级</th>
									<th class="center">结算状态</th>
									<th class="center">结算</th>
									<th class="center">结算时间</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="30">暂无数据</td>
								</tr>
								<!-- <tr>
                                    <td class="center">崔焕周</td>
                                    <td class="center">5月</td>
                                    <td class="center">5565656</td>
                                    <td class="center">未收</td>
                                    <td class="center">快递</td>
                                    <td class="center">17:15</td>
                                    <td class="center">张三</td>
                                    <td class="center"></td>
                                    <td class="center">2017-6-5</td>
                                </tr> -->
							</tbody>
						</table>
						<div style="text-align:center;margin-top:15px;" contentAuthority="275">
							<button class="sure_button add">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    保存
                                </button>
						</div>
					</div>
					<div class="hidden">
						<table class="custom_table">
							<thead>
								<tr class="thColor">
									<th class="center">公司名称</th>
									<th class="center">服务月份</th>
									<th class="center">仓位编码</th>

									<th class="center">税务类型</th>
									<th class="center">客服时间</th>
									<th class="center">员工</th>
									<th class="center">任务等级</th>
									<th class="center">结算状态</th>
									<th class="center">结算</th>
									<th class="center">结算时间</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="30">暂无数据</td>
								</tr>
								<!-- <tr>
                                    <td class="center">崔焕周</td>
                                    <td class="center">5月</td>
                                    <td class="center">5565656</td>
                                    <td class="center">未收</td>
                                    <td class="center">快递</td>
                                    <td class="center">17:15</td>
                                    <td class="center">张三</td>
                                    <td class="center"></td>
                                    <td class="center">2017-6-5</td>
                                </tr> -->
							</tbody>
						</table>
						<div style="text-align:center;margin-top:15px;" contentAuthority="275">
							<button class="sure_button add">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    保存
                                </button>
						</div>
					</div>
					<div class="hidden">
						<table class="custom_table">
							<thead>
								<tr class="thColor">
									<th class="center">公司名称</th>
									<th class="center">服务月份</th>
									<th class="center">仓位编码</th>

									<th class="center">税务类型</th>
									<th class="center">报税时间</th>
									<th class="center">员工</th>
									<th class="center">任务等级</th>
									<th class="center">结算状态</th>
									<th class="center">结算</th>
									<th class="center">结算时间</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="30">暂无数据</td>
								</tr>
								<!-- <tr>
                                        <td class="center">崔焕周</td>
                                        <td class="center">5月</td>
                                        <td class="center">5565656</td>
                                        <td class="center">未收</td>
                                        <td class="center">快递</td>
                                        <td class="center">17:15</td>
                                        <td class="center">张三</td>
                                        <td class="center"></td>
                                        <td class="center">2017-6-5</td>
                                    </tr> -->
							</tbody>
						</table>
						<div style="text-align:center;margin-top:15px;" contentAuthority="275">
							<button class="sure_button add">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    保存
                                </button>
						</div>
					</div>
					<div class="hidden">
						<table class="custom_table">
							<thead>
								<tr class="thColor">
									<th class="center">公司名称</th>
									<th class="center">服务月份</th>
									<th class="center">仓位编码</th>

									<th class="center">服务方式</th>
									<th class="center">送单时间</th>
									<th class="center">员工</th>
									<th class="center">任务等级</th>
									<th class="center">结算状态</th>
									<th class="center">结算</th>
									<th class="center">结算时间</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="30">暂无数据</td>
								</tr>
								<!-- <tr>
                                        <td class="center">崔焕周</td>
                                        <td class="center">5月</td>
                                        <td class="center">5565656</td>
                                        <td class="center">未收</td>
                                        <td class="center">快递</td>
                                        <td class="center">17:15</td>
                                        <td class="center">张三</td>
                                        <td class="center"></td>
                                        <td class="center">2017-6-5</td>
                                    </tr> -->
							</tbody>
						</table>
						<div style="text-align:center;margin-top:15px;" contentAuthority="275">
							<button class="sure_button add">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    保存
                                </button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="template3" style="display:none;">
			<div class="statistics_cont" style="margin-top:15px;">
				<div class="">
					<table class="custom_table">
						<thead>
							<tr class="thColor">
								<th class="center">公司名称</th>
								<th class="center">任务内容</th>
								<th class="center">任务状态</th>
								<th class="center">任务时间</th>
								<th class="center">员工</th>
								<th class="center">任务等级</th>
								<th class="center">结算状态</th>
								<th class="center">结算</th>
								<th class="center">结算时间</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="30">暂无数据</td>
							</tr>
							<!-- <tr>
                                    <td class="center">崔焕周</td>
                                    <td class="center">5月</td>
                                    <td class="center">5565656</td>
                                    <td class="center">未收</td>
                                    <td class="center">快递</td>
                                    <td class="center">17:15</td>
                                    <td class="center">张三</td>
                                    <td class="center"></td>
                                    <td class="center">2017-6-5</td>
                                </tr> -->
						</tbody>
					</table>
					<div style="text-align:center;margin-top:15px;" contentAuthority="276">
						<button class="sure_button add">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                保存
                            </button>
					</div>
				</div>
			</div>
		</div>

	</div>
	{% include 'admin/mark.html' %}
</div>
<script src="/resource/adimin/assets/js/src/public.js"></script>
<script src="/resource/adimin/components/select2/dist/js/select2.js"></script>
<script>
	$(function() {

        cs.getNodes([164, 247]);
		cs.getYearAndMonth('2015-1-1', '2025-12-31', '.monthList');

		var order = 'bmm_employees.id desc';
		var page_size = 10; //每页显示的条目数
		var employees = {}; //所有员工’
		var sMonth = "";   //默认当月
		//设置普通搜索 月份value
		//      setMonthValue();
		//      function setMonthValue(){
		//          $('[sear="month"]').find('option').not(':first').each(function(i,e){
		//              $(this).val(new Date().getFullYear() + $(this).val());
		//          });
		//      }
		var count = {
			"收单":{
				1:0,
				2:0
			},
			"整单":{
				1:0,
				2:0
			},
			"记账":{
				1:0,
				2:0
			},
			"客服":{
				1:0,
				2:0
			},
			"报税":{
				1:0,
				2:0
			},
			"送单":{
				1:0,
				2:0
			},
		}

		var count1 = {};

		//获取所有员工
		getEmployees();

		function getEmployees() {
			ykp.doAjax({
				url: '/api/api_employees/f7',
				method: 'post',
				async: false,
				data: {
					select: 'bmm_employees.id,bmm_employees.name'
				},
				success: function(res) {
					var data = res.data;
					$('.advandced-search').select2({
						allowClear: true
					});
					for(var i in data) {
                        if(data[i]['name']) {
                            employees[data[i]['id']] = data[i]['name'];
                            $('.advandced-search').append(new Option(data[i]['name'], data[i]['name']));
                        }
					}
				}
			});
		}

		//切换每页显示的条目数
		function changePagesize(type) {
			$('.changePageNum').unbind('change').change(function() {
				page_size = $(this).val();
				ykp.setCookie('page_size',page_size);
				getPerformance(type);
			})
		}

		//普通搜索
		function generalSearch(type) {
			$('#search').unbind('click').click(function() {
				if(!$('[pts=1]').eq(0).val().trim() && !$('[pts=1]').eq(1).val().trim()) {
					ykp.prompt('搜索条件至少输入一个！');
					return;
				}
				sMonth = $('select[sear=month]').val().replace(/\./,'')
				getPerformance(type);

			});
		}

		function insert_flg(str,flg,sn){
		    var newstr="";
		    for(var i=0;i<str.length;i+=sn){
		        var tmp=str.substring(i, i+sn);
		        newstr+=tmp+flg;
		    }
		    return newstr;
		}

		//获取员工绩效 默认获取记账报税绩效
		function getPerformance(type) {

			changePagesize(type);
			generalSearch(type);
			ykp.list({
				url: '/api/api_finance/achievements_list',
				method: 'POST',
				data: {
					stype: type,
					limit: page_size,
					name: $('[sear="name"]').val(),
					time: sMonth ? sMonth :""
				},
				pageBar: {
					id: '.pageBar'
				},
				loadList: function(res) {
                    $('.monthList').val(res.data.time);
//					 console.log(judgeData(type,res));
					if(judgeData(type, res)) {
						handlePerformanceData(type, res);
						return;
					}
					// console.log(1);
					var ele = '';

					if(type == 1) {
						ele = '#dataList';
					}
					if(type == 2) {
						ele = '#dataList1';
					}
					$(ele).html('<tr><td colspan="30"><div class="table-actions clearfix"></div> <div style="text-align: center;color:#7d7d7d" class="page">暂无数据</div></td></tr>');
				}
			});
		}

		//根据type 处理获取到的员工绩效数据
		function handlePerformanceData(type, res) {
			var data = res.data.items;

            var html = [];
			var empPer = [];
			var _empPer_money = [0,0,0,0,0,0,0,0,0,0,0,0]; //员工绩效信息
            var total = 0; //绩效总额
			count = {
				"收单":{
					1:0,
					2:0
				},
				"整单":{
					1:0,
					2:0
				},
				"记账":{
					1:0,
					2:0
				},
				"客服":{
					1:0,
					2:0
				},
				"报税":{
					1:0,
					2:0
				},
				"送单":{
					1:0,
					2:0
				},
			}
            if(type == 1) {
                var  _jzedit = cs.getNodes([294], true);
                if(_jzedit){
					$("#taxCharge .priceEdit").show();
				}
				for(var i in data) {
                    empPer = data[i]['list'];
                    count['收单'][2] = 0;
                    count['收单'][1] = 0;
                    count['整单'][2] = 0;
                    count['整单'][1] = 0;
                    count['记账'][2] = 0;
                    count['记账'][1] = 0;
                    count['客服'][2] = 0;
                    count['客服'][1] = 0;
                    count['报税'][2] = 0;
                    count['报税'][1] = 0;
                    count['送单'][2] = 0;
                    count['送单'][1] = 0;
                    for(var k in empPer) {
						total += parseFloat(empPer[k]['cateInfo']['money']* parseInt(empPer[k]['lv']) * empPer[k]['count']);
						if(empPer[k]['cateInfo']['name'] == '收单') {
							if(empPer[k]['cateInfo']['type'] == 2) {
                                count['收单'][2] += parseInt(empPer[k]["count"]);
								_empPer_money[0] = _empPer_money[0] ?(_empPer_money[0] + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']))) : 0 + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));

                            } else{
                                count['收单'][1] += parseInt(empPer[k]["count"]);
								//_empPer_money[1] = (empPer[k]['cateInfo']['money'] * empPer[k]['lv']);
                                _empPer_money[1] = _empPer_money[1] ?(_empPer_money[1] + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']))) : 0 + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
							}

						}
						if(empPer[k]['cateInfo']['name'] == '整单') {
							if(empPer[k]['cateInfo']['type'] == 2) {
								count['整单'][2] += parseInt(empPer[k]["count"]);
								//_empPer_money[2] = (empPer[k]['cateInfo']['money']  * empPer[k]['lv']);
                                _empPer_money[2] = _empPer_money[2] ?(_empPer_money[2] + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']))) : 0 + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
							} else{
								count['整单'][1] += parseInt(empPer[k]["count"]);
								//_empPer_money[3] = (empPer[k]['cateInfo']['money']  * empPer[k]['lv']);
                                _empPer_money[3] = _empPer_money[3] ?(_empPer_money[3] + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']))) : 0 + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
							}

						}
						if(empPer[k]['cateInfo']['name'] == '记账') {

							if(empPer[k]['cateInfo']['type'] == 2) {
								count['记账'][2] += parseInt(empPer[k]["count"]);
								//_empPer_money[4] = (empPer[k]['cateInfo']['money']  * empPer[k]['lv']);
                                _empPer_money[4] = _empPer_money[4] ?(_empPer_money[4] + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']))) : 0 + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
							} else{

								count['记账'][1] = parseInt(empPer[k]["count"]);
								//_empPer_money[5] = (empPer[k]['cateInfo']['money']  * empPer[k]['lv']);
                                _empPer_money[5] = _empPer_money[5] ?(_empPer_money[5] + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']))) : 0 + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
//								console.log(_empPer_money[5]);
							}

						}
						if(empPer[k]['cateInfo']['name'] == '客服') {
							if(empPer[k]['cateInfo']['type'] == 2) {
								count['客服'][2] += parseInt(empPer[k]["count"]);
								//_empPer_money[6] = (empPer[k]['cateInfo']['money']  * empPer[k]['lv']);
                                _empPer_money[6] = _empPer_money[6] ?(_empPer_money[6] + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']))) : 0 + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
							} else{
								count['客服'][1] += parseInt(empPer[k]["count"]);
								//_empPer_money[7] = (empPer[k]['cateInfo']['money']  * empPer[k]['lv']);
                                _empPer_money[7] = _empPer_money[7] ?(_empPer_money[7] + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']))) : 0 + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
							}
						}
						if(empPer[k]['cateInfo']['name'] == '报税') {
							if(empPer[k]['cateInfo']['type'] == 2) {
								count['报税'][2] += parseInt(empPer[k]["count"]);
								//_empPer_money[8] = (empPer[k]['cateInfo']['money']  * empPer[k]['lv']);
                                _empPer_money[8] = _empPer_money[8] ?(_empPer_money[8] + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']))) : 0 + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
							} else{
								count['报税'][1] += parseInt(empPer[k]["count"]);
								//_empPer_money[9] = (empPer[k]['cateInfo']['money']  * empPer[k]['lv']);
                                _empPer_money[9] = _empPer_money[9] ?(_empPer_money[9] + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']))) : 0 + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
							}

						}
						if(empPer[k]['cateInfo']['name'] == '送单') {
							if(empPer[k]['cateInfo']['type'] == 2) {
								count['送单'][2] += parseInt(empPer[k]["count"]);
								//_empPer_money[10] = (empPer[k]['cateInfo']['money']  * empPer[k]['lv']);
                                _empPer_money[10] = _empPer_money[10] ?(_empPer_money[10] + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']))) : 0 + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
							} else{
								count['送单'][1] += parseInt(empPer[k]["count"]);
								//_empPer_money[11] = (empPer[k]['cateInfo']['money']  * empPer[k]['lv']);
                                _empPer_money[11] = _empPer_money[11] ?(_empPer_money[11] + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']))) : 0 + (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
                            }
						}

					}
                    html.push(
						`<tr data-id="${data[i]['complete_id']}" data-time="${res.data.time}" data-statu="${data[i]['is_sta']['standard_1'] == 0 ? 0 : 1}">
                            <td style="cursor: pointer;color:#fff !important; text-align: right !important;" class="center" >
                            	<a class="seeMore btBlue pos-rel" title="结算"><i class="fa fa-calculator "></i></a>
                            </td>
                            <td class="center" style="cursor: pointer" ; standard ="${data[i]['is_sta']['standard_1']}" >
                                ${data[i]["is_sign"] != 1 ? ( data[i]['is_sta']['standard_1'] == 0 ? '<span  class="pos-rel btGreen check " contentAuthority="165" title="复核"><i class="fa fa-check-circle-o"></i></span>': '<span class="pos-rel btOrange" contentAuthority="165" title="取消复核"><i class="fa fa-rotate-left "></i></span>' ) :""}
                            </td>
                            <td class="center">${data[i]['userinfo'] ? data[i]['userinfo']['name'] :''}</td>
                            <td style="text-align: right !important;">${_empPer_money[0] ? (" (" +count['收单'][2] +") "+ _empPer_money[0].toFixed(2)  ) : "0.00" }</td>
                            <td style="text-align: right !important;">${_empPer_money[1] ? (" (" +count['收单'][1] +") "+_empPer_money[1].toFixed(2)   ) : "0.00"}</td>
                            <td style="text-align: right !important;">${_empPer_money[2] ? (" (" +count['整单'][2] +") "+_empPer_money[2].toFixed(2)  ) : "0.00"}</td>
                            <td style="text-align: right !important;">${_empPer_money[3] ? (" (" +count['整单'][1] +") "+_empPer_money[3].toFixed(2)  ) : "0.00"}</td>
                            <td style="text-align: right !important;">${_empPer_money[4] ? (" (" +count['记账'][2] +") "+_empPer_money[4].toFixed(2)  )  : "0.00"}</td>
                            <td style="text-align: right !important;">${_empPer_money[5] ? (" (" +count['记账'][1] +") "+_empPer_money[5].toFixed(2)  ) : "0.00"}</td>
                            <td style="text-align: right !important;">${_empPer_money[6] ? (" (" +count['客服'][2] +") "+_empPer_money[6].toFixed(2)  ) : "0.00"}</td>
                            <td style="text-align: right !important;">${_empPer_money[7] ? (" (" +count['客服'][1] +") "+_empPer_money[7].toFixed(2)  ) : "0.00"}</td>
                            <td style="text-align: right !important;">${_empPer_money[8] ? (" (" +count['报税'][2] +") "+_empPer_money[8].toFixed(2)  ) : "0.00"}</td>
                            <td style="text-align: right !important;">${_empPer_money[9] ? (" (" +count['报税'][1] +") "+_empPer_money[9].toFixed(2)  ) : "0.00"}</td>
                            <td style="text-align: right !important;">${_empPer_money[10]? (" (" +count['送单'][2] +") "+_empPer_money[10].toFixed(2) ) : "0.00"}</td>
                            <td style="text-align: right !important;">${_empPer_money[11]? (" (" +count['送单'][1] +") "+_empPer_money[11].toFixed(2) ) : "0.00"}</td>
                            <td class="_total" style="text-align: right !important;">${total.toFixed(2)}</td>
                        </tr>`);
					_empPer_money = [];
					total = 0;
				}
				sMonth = $('select[sear=month]').val().replace(/\./,'');
                $('.gs').html(JSON.parse(ykp.getCookie('userinfo')).company.name +" "+ $('select[sear=month]').val()+" "+ $("#tableChange .act").text()+"绩效");
				$('#dataList').html(html.join(''));
			}
			if(type == 2) {
                var  _qtedit = cs.getNodes([295], true);
                if(_qtedit){
                    $("#shortPeriod .priceEdit1").show();
                }
				$('#dataList1').html('');
				// var data = res.data.items;
				var html = [];
				var _html = [];
				var names = []; //短期业务产品
				$('#shortPeriod ._name').each(function(i, e) {
					names[i] = $(this).text().trim();
				});
				var empPer = []; //员工绩效信息
				var _empPer_money = {}; //员工绩效提成
				var total = 0; //绩效总额

				for(var i in data) {
					empPer = data[i]['list'];
					_empPer_money["注册公司"] = {
						money:0,
						count:0,
					};
                    _empPer_money["开基本户"] = {
                        money:0,
                        count:0,
                    };
                    for(var k in empPer) {
                        total += parseFloat(empPer[k]['cateInfo']['money']* parseInt(empPer[k]['lv']) * empPer[k]['count']);
                        if(empPer[k]['cateInfo']['name'] == '注册公司') {
                            _empPer_money["注册公司"].count += parseInt(empPer[k]["count"]);
                            _empPer_money["注册公司"].money += (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
                        }
						if(empPer[k]['cateInfo']['name'] == '开基本户') {
                            _empPer_money["开基本户"].count += parseInt(empPer[k]["count"]);
                            _empPer_money["开基本户"].money += (parseInt(empPer[k]['cateInfo']['money']) * parseInt(empPer[k]['lv']) * parseInt(empPer[k]['count']));
                        }
					}
                    for(var z in names) {
						_html.push(
							`<td class="center">
                                ${_empPer_money[names[z]] ?" ("+_empPer_money[names[z]]['count']+")" + (_empPer_money[names[z]]['money'].toFixed(2)): '0.00'}
                            </td> `
						);
					}
					html.push(
						`<tr data-id="${data[i]['complete_id']}" data-time="${res.data.time}"  data-statu="${data[i]['is_sta']['standard_2'] == 0 ? 0 : 1}">
                            <td style="cursor: pointer;text-align:right;"  standard="${data[i]['is_sta']['standard_2']}" class="center">
                            	<label class="pos-rel">
                            	<a style="color:#fff !important;" title="结算" class="seeMore btBlue pos-rel"><i class="fa fa-calculator "></i></a>
                            	 ${data[i]["is_sign"] != 1 ? ( data[i]['is_sta']['standard_2'] == 0  ? ('<span style="display:'+(data[i]["is_sign"] != 1 ? "" : "none")+'" class="pos-rel check btGreen" title="复核" contentAuthority="248"><i class="fa fa-check-circle-o"></i></span>'): '<span class="pos-rel check btOrange" title="取消复核" contentAuthority="165"><i class="fa fa-rotate-left "></i></span>') : ""}
                            	</label>
                            	</td>
                            <td class="center name_" style="text-align:left !important;">${data[i]['userinfo']['name']}</td>
                            ${_html.join('')}
                            <td class="center _total">${total.toFixed(2)}</td>
                        </tr>`
					);
					empPer = [];
					_empPer_money = {};
					_html = [];
					total = 0;
				}
				// $(html.join('')).children('.name_').after(_html.join(''));
				$('#dataList1').html(html.join(''));
                $('.gs').html(JSON.parse(ykp.getCookie('userinfo')).company.name +" "+ $('select[sear=month]').val()+" "+ $("#tableChange .act").text()+"绩效");
                $("#temHeader").width($("#showBox").width()-47);
			}
			cs.getNodes([165, 248]);
			details(type);
			check(type);
		}
		
		function getMoney(list){
			var money = 0;
			for(var i in list){
				money += (list[i].money * list[i].count * lv) 
			}
			return money;
		}

		//判断是否有返回的数据
		function judgeData(type, res) {
			if(!res.data || res.data.length <= 0) {

				setTimeout(function() {
					ykp.prompt('暂无数据！');
				}, 1000);

				return false;
			}
			return true;
		}

		//获取提成单价 默认获取记账报税提成单价
		getPercentage(1);
		function getPercentage(type) {
			ykp.doAjax({
				url: '/api/api_finance/get_cate',
				method: 'get',
				data: {
					stype: type
				},
				success: function(res) {
                    handlePercentageData(type, res);
					getPerformance(type);
				}
			})
		}

		//根据type 处理获取到的提成单价
		function handlePercentageData(type, res) {
			var data = res.data;
			var html = [];
			var _html = [];

            if(type == 1) {
				for(var i = 0; i < data.length; i++) {
                    if(data[i].name == "收单" && data[i].type == 2) {
						$('#tcPrice .sdsval').html(data[i].money ? data[i].money : '').attr('pid', data[i].id ? data[i].id : '')
					}
					if(data[i].name == "收单" && data[i].type == 1) {
						$('#tcPrice .sdyval').html(data[i].money ? data[i].money : '').attr('pid', data[i].id ? data[i].id : '')
					}
					if(data[i].name == "送单" && data[i].type == 2) {
						$('#tcPrice .sodsval').html(data[i].money ? data[i].money : '').attr('pid', data[i].id ? data[i].id : '')
					}
					if(data[i].name == "送单" && data[i].type == 1) {
                        $('#tcPrice .sodyval').html(data[i].money ? data[i].money : '').attr('pid', data[i].id ? data[i].id : '')
					}
					if(data[i].name == "整单" && data[i].type == 2) {
						$('#tcPrice .zdsval').html(data[i].money ? data[i].money : '').attr('pid', data[i].id ? data[i].id : '')
					}
					if(data[i].name == "整单" && data[i].type == 1) {
						$('#tcPrice .zdyval').html(data[i].money ? data[i].money : '').attr('pid', data[i].id ? data[i].id : '')
					}
					if(data[i].name == "记账" && data[i].type == 2) {
						$('#tcPrice .cdsval').html(data[i].money ? data[i].money : '').attr('pid', data[i].id ? data[i].id : '')
					}
					if(data[i].name == "记账" && data[i].type == 1) {
						$('#tcPrice .cdyval').html(data[i].money ? data[i].money : '').attr('pid', data[i].id ? data[i].id : '')
					}
					if(data[i].name == "客服" && data[i].type == 2) {
						$('#tcPrice .kfsval').html(data[i].money ? data[i].money : '').attr('pid', data[i].id ? data[i].id : '')
					}
					if(data[i].name == "客服" && data[i].type == 1) {
						$('#tcPrice .kfyval').html(data[i].money ? data[i].money : '').attr('pid', data[i].id ? data[i].id : '')
					}
					if(data[i].name == "报税" && data[i].type == 2) {
						$('#tcPrice .bssval').html(data[i].money ? data[i].money : '').attr('pid', data[i].id ? data[i].id : '')
					}
					if(data[i].name == "报税" && data[i].type == 1) {
                        $('#tcPrice .bsyval').html(data[i].money ? data[i].money : '').attr('pid', data[i].id ? data[i].id : '')
					}
				}
			} else {
				$('#shortPeriod ._name').remove();
				$('#shortPeriod ._money').remove();
				for(var i = 0; i < data.length; i++) {
					html.push(`
                        <th style="text-align: left !important;" class="center _name">${data[i]['name']}</th>
                    `);
					_html.push(`
                        <td class="center _money" name="${data[i]['name']}" pid="${data[i]['id']}">${data[i]['money']}</td>
                    `);
                    count1[data[i]['name']] = 0;   //初始化 count1  默认 任务数量
				}
				$('#shortPeriod ._employee').after(html.join(''));
				$('#shortPeriod ._percentage').after(_html.join(''));
			}

			editPercentage(type);
		}

		//编辑提成单价
		function editPercentage(type) {
			//记账报税
			$('.priceEdit').click(function() {
				showMark('#template');
				$('#showBox .title').text('编辑提成单价');
				$(this).parents('tr').find('th>span').each(function(i, n) {
					$('#templateCon .edit' + i).val($(this).text().trim()).attr('pid', $(this).attr('pid'));
				});

				$("#templateBox .savebt").click(function() {
					var postdata = [];
					var _postdata = [];
					$('#templateCon input').each(function(i, e) {
						_postdata[0] = parseFloat($(this).attr('pid'));
						_postdata[1] = parseFloat($(this).val());
						postdata.push(_postdata);
						_postdata = [];
					});
					postdata = JSON.stringify(postdata);

					ykp.doAjax({
						url: '/api/api_finance/edit_cate',
						method: 'post',
						data: {
							update: postdata
						},
						success: function(res) {
							cs.close();
							getPercentage(type);
						}
					});
				})
			})

			//短期业务
			$('.priceEdit1').click(function() {
				var html = [];
				showMark('#template1');
				$('#showBox .title').text('编辑提成单价');
				$(this).parents('tr').find('._money').each(function(i, n) {
					html.push(`
                        <div style="margin-top:15px;float:left;">
                            <label>${$(this).attr('name')}： </label>
                            <input pid="${$(this).attr('pid')}" value="${$(this).text().trim()}">
                        </div>
                    `);
				});
				html.push(`
                    <div style="clear:both;"></div>
                `);
				$('#templateCon .content').html(html.join(''));
				$("#templateBox .savebt").click(function() {
					var postdata = [];
					var _postdata = [];
					$('#templateCon input').each(function(i, e) {
						_postdata[0] = parseFloat($(this).attr('pid'));
						_postdata[1] = parseFloat($(this).val());
						postdata.push(_postdata);
						_postdata = [];
					});
					postdata = JSON.stringify(postdata);

					ykp.doAjax({
						url: '/api/api_finance/edit_cate',
						method: 'post',
						data: {
							update: postdata
						},
						success: function(res) {
							cs.close();
							getPercentage(type);
						}
					});
				})
			})
		}

		//记账报税  短期业务切换
		tablechange();

		function tablechange() {
			$('#tableChange li').click(function() {
				page_size = 10;
				$('.changePageNum').val('10');
				$('[pts=1]').each(function(i, e) {
					$(this).val('');
				});
				$('.pageBar').empty();

				var it = $(this);
				it.addClass('act').siblings().removeClass('act');
				var index = $(this).index();
				if(index == 0) {
					$('#taxCharge').show();
					$('#shortPeriod').hide();
					getPercentage(1);
				}
				if(index == 1) {
					$('#taxCharge').hide();
					$('#shortPeriod').show();
					getPercentage(2);
				}
				cs.getYearAndMonth('2015-1-1', '2025-12-31', '.monthList');
			});
		}

		//复核
		function check(type) {
			$('.check').click(function() {
				var postdata = {};
				var standard = $(this).parent().attr('standard');
				postdata['complete_id'] = $(this).parents('tr').attr('data-id');
				postdata['stype'] = type;
				postdata['total'] = $(this).parent().siblings('._total').text().trim();
				postdata['month'] = $(this).parents('tr').attr('data-time').replace(/\./,'');
				layui.use('layer', function() {
					var layer = layui.layer;
					layer.confirm(standard == 0 ? '确认复核么？' : "确认取消复核么", function(index) {
						ykp.doAjax({
							url: standard == 0 ? '/api/api_finance/ac_status' : "/api/api_finance/qx_status",
							method: 'post',
							data: postdata,
							success: function(res) {
								cs.close();
								getPerformance(type);
								layer.closeAll();
							}
						});
						layer.closeAll();
					})
				})

			});
		}

		//详情
		function details(type) {
			$('#taxCharge .seeMore').click(function() {
                var id = $(this).parents('tr').attr('data-id');
				var check_statu = $(this).parents('tr').attr('data-statu');
				showMark('#template2');
				$('#showBox .title').text('记账报税业绩统计');

				if(cs.getNodes([275], true) && check_statu == '0') {
					$('#templateCon [contentauthority="275"]').show();
				}

				ykp.doAjax({
					url: '/api/api_finance/ac_info',
					method: 'post',
					data: {
						complete_id: id,
						month: sMonth
					},
					success: function(res) {
						var data = res.data;
						var html = [];
						var tax_type = ['', '一般纳税人', '小规模'];
						var sd_type = ['', '外勤上门', '客户上门', '快递物流'];
                        var lev= ["","已确认","已重复","已失效","暂不结算"]
						for(var i in data) {
							for(var k in data[i]) {
								html.push(`
                                    <tr data-id="${data[i][k]['id']}">
                                        <td class="center">${data[i][k]['serviceInfo']['name']}</td>
                                        <td class="center">${data[i][k]['serviceInfo']['time']}</td>
                                        <td class="center">${data[i][k]['posInfo']['pos_name'] + data[i][k]['posInfo']['pos_num']}</td>
                                        <td class="center">${i == 1 || i == 6 ? sd_type[data[i][k]['serviceInfo']['data_type']] :  tax_type[data[i][k]['serviceInfo']['tax_type']] }</td>
                                        <td class="center">${cs.getNowTime(data[i][k]['complete_time'])}</td>
                                        <td class="center">${employees[id]}</td>
                                        <td class="center"><input style="width: 50px" class="lv" disabled value="${data[i][k]['lv']}" /></td>
                                        <td class="center">${data[i][k]['settlement_time'] != '0' ? lev[data[i][k]['set_status']] :""}</td>
                                        <td class="center">
                                            <select class="balance" _default="${data[i][k]['set_status']}">
                                                <option value="1">已确认</option>
                                                <option value="2">已重复</option>
                                                <option value="3">已失效</option>
                                                <option value="4">暂不结算</option>
                                            </select>
                                        </td>
                                        <td class="center">
                                            ${data[i][k]['set_status'] == 1 ? (data[i][k]['settlement_time'] != '0' ? cs.getNowTime(data[i][k]['settlement_time']) : ''):""}
                                        </td>
                                    </tr>
                                `);
							}
							$('#templateCon .statistics_cont tbody').eq(i - 1).html(html.join(''));
							$('#templateCon .statistics_cont tbody').eq(i - 1).find('.balance').each(function(i, e) {
								$(this).val($(this).attr('_default'));
							});
                            $("#temHeader").width($("#showBox").width()-47);
							html = [];
						}
					}
				});

				//结算 保存
				balance(type);

				//业绩详情table表切换
				performanceDet();
			})

			$('#shortPeriod .seeMore').click(function() {
                var id = $(this).parents('tr').attr('data-id');
				var check_statu = $(this).parents('tr').attr('data-statu');
				showMark('#template3');
				$('#showBox .title').text('服务任务业绩统计');

				if(cs.getNodes([276], true) && check_statu == '0') {
					$('#templateCon [contentauthority="276"]').show();
				}

				ykp.doAjax({
					url: '/api/api_finance/ac2_info',
					method: 'post',
					data: {
						complete_id: id,
						month: $(".monthList").val().replace(/\./,"")
					},
					success: function(res) {
						var data = res.data;
						var html = [];
						var lev= ["","已确认","已重复","已失效","暂不结算"]
						var flow = []; //任务状态
                        for(var i in data) {
							flow = JSON.parse(data[i]['task']['htm_task.flow']);
                            html.push(
								`<tr class="thColor" data-id="${data[i]['id']}">
                                    <td class="center">${data[i]['task']['khm_customer.name']}</td>
                                    <td class="center">${data[i]['product']['name']}</td>
                                    <td class="center">${flow[data[i]['task']['htm_task.flow_status']]}</td>
                                    <td class="center">${data[i]['complete_time'] != '0' ? cs.getNowTime(data[i]['complete_time']) : ''}</td>
                                    <td class="center">${employees[id]}</td>
                                    <td class="center"><input style="width: 50px" class="lv" disabled value="${data[i]['lv']}" /></td>
                                    <td class="center">${data[i]['settlement_time'] != '0' ? lev[data[i]['set_status']] :""}</td>
                                    <td class="center">
                                        <select class="balance" _default="${data[i]['set_status']}">
                                            <option value="1">已确认</option>
                                            <option value="2">已重复</option>
                                            <option value="3">已失效</option>
                                            <option value="4">暂不结算</option>
                                        </select>
                                    </td>
                                    <td class="center">
                                        ${data[i]['set_status'] == 1 ? (data[i]['settlement_time'] != '0' ? cs.getNowTime(data[i]['settlement_time']) : '') : ""}
                                    </td>
                                </tr> `
							);
						}

						$('#templateCon tbody').html(html.join(''));
						$('#templateCon .balance').each(function(i, e) {
							$(this).val($(this).attr('_default'));
						});
					}
				});

				//结算 保存 
				balance(type);
			})
		}

		//结算 保存
		function balance(type) {
			$('#templateCon .sure_button').unbind('click').click(function() {
				var postdata = {};
				var coldata = [];
				//
				$('#templateCon .statistics_cont>div[class!=hidden]').find('[data-id]').each(function(i, e) {
					coldata.push({
						id: $(this).attr('data-id'),
						set_status: $(this).find('.balance').val(),
						//lv: $(this).find('.balance').val();
					});
				});
		
				postdata['coldata'] = JSON.stringify(coldata);
				ykp.doAjax({
					url: '/api/api_finance/set_status',
					method: 'post',
					data: postdata,
					success: function(res) {
						cs.close();
						getPerformance(type);
					}
				});
			});
		}

		//业绩详情table表切换
		function performanceDet() {
			$('.statistics_tit li').unbind('click').click(function() {
				var index = $(this).index();
				var it = $(this);
				it.addClass('acti').siblings().removeClass('acti');
				$('#templateBox .statistics_cont>div').eq(index).removeClass('hidden').siblings().addClass('hidden');
                $("#temHeader").width($("#showBox").width()-47);
			})
		}
	});
</script>